{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'main/css/measureopt.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/measure/howtoselfmeasure.css' %}">
{% endblock %}
<h2>    Kindly watch the tutorial video below to learn how to measure yourself
</h2>    
</aside>
<iframe class="tutorial" src="https://www.youtube.com/embed/0lXDj1Q0q9U"></iframe>
<form id="measureopt" class="needs-validation measureopt" action="{% url 'main:measurehowto' %}" method="POST">
    {% csrf_token %}
    <div class="optwrap">
        <label for="opt1"> Enter your measurement details </label>
        <input id="opt1"  type="radio" name="measureopt" value="opt1">
    </div>    
    <div class="optwrap optwrap3">
        <label for="opt3"> Request professional measurement (<strong>recommended</strong>) </label>
        <input id="opt3" type="radio" name="measureopt" value="opt3" checked>
    </div>
    <div class="optwrap">
        <label for="opt4"> Do this later </label>
        <input id="opt4" type="radio" name="measureopt" value="opt4">
    </div>
        
    <button onclick="validate()" id="next" class="btn btn-dark mbtn">Next</button>
</form>

