    {% for obj in cart %}
    <div class="row myrow">    
        <div class="col-6">
            <div class="img">
                <a href="{% url 'main:sendmail' clothe_id=obj.id %}"><img src="{{ obj.image.url }}"></a>
            </div>
        </div>
        <div class="col-6 info">
            {% if obj.type == 'Not specified' %}
            <div class="name">fab{{obj.id}}</div>
            {% else %}
            <div class="name">{{ obj.type }}{{obj.id}}</div>
            {% endif %}    
            <span class="price"> N {{ obj.price }} </span>
            <span class="price"> x{{ obj.amount }} </span>
        </div>
        <div class="remove" onclick="cartremove(this)" id="{{ obj.id }}" data-name="{{ obj }}">
            Remove from cart
        </div>
    </div>
    {% empty %}
    <div class="empty">
        <p>Your Cart is empty</p>
        <a href="{% url 'main:shop' %}"><div class="shop-prompt d-inline-block"> 
            Start Shopping 
        </div></a>
    </div>
    {% endfor %}
    {% if cart %}
    <div class="row sumtotal">    
        <div class="col-6">
            Total
        </div>
        <div class="col-6">
            <span class="price"> N {{ total }} </span>
        </div>
    </div>
    <div onclick="payment()" class="checkout">
        Checkout
    </div>
    {% endif %}