<h4>Account overview</h4>
<div class="row">
    <div class="part col-sm-6"> 
        <h5>Account details</h5>
        <p>Name: <span>{{ request.user.first_name }} {{ request.user.last_name }}</span></p>
        {% if userdetails.email %}
        <p>Email address: <span>{{ userdetails.email }}</span></p>
        {% endif %}
        {% if userdetails.phone_no1 %}
            <p>Phone number: <span>+234{{ userdetails.phone_no1 }}</span></p>
        {% elif userdetails.phone_no2 %}
            <p>Phone number: <span>+234{{ userdetails.phone_no2 }}</span></p>
        {% endif %}
        <i onclick="edit1()" id="edit1" title="edit" class="bi-pencil-fill"></i>
    </div>
    <div class="part col-sm-6">
        {% for group in request.user.groups.all %}
        {% if group.name == 'Customers' %}    
            <h5>Address book</h5>
            <h6 onclick="addressedit(this);" 
            id="{{ userdetails.this_address.id }}" class="default">Your defualt address</h6></a>
        {% else %}
            <h4>Location</h4>
        {% endif %}
                {% if userdetails.this_address.address %}
                <span>{{ userdetails.this_address.address }}</span>
                {% endif %}
                {% if userdetails.this_address.city %}
                <span>{{ userdetails.this_address.city }}</span>
                {% endif %}
                {% if userdetails.this_address.state %}
                <span>{{ userdetails.this_address.state }}</span>
                {% endif %}
                {% if userdetails.this_address.zipcode %}
                <span>{{ userdetails.this_address.zipcode }}</span>
                {% endif %}
                {% if group.name == 'Customers' %}    
                    <i onclick="addressbook()" id="edit2" title="edit" class="bi-pencil-fill"></i>
                {% else %}
                    {% if userdetails.this_address %}
                        <i onclick="addressedit(this)" id="{{ userdetails.this_address.id }}" title="edit" class="bi-pencil-fill"></i>
                    {% else %}
                        <i onclick="newaddress()" title="edit" class="bi-pencil-fill"></i>
                    {% endif %}
                {% endif %}
        {% endfor %}
    </div>
</div> 