{% load static %}
<div class="container-fluid" id="topmost">
    <div class="row">
        <div class="col step-div">
            <p>Everyone can measure themselves</br>trust us, this is our business</p>
            <img src="{% static 'main/images/Layo/11d197c6e1252d348339fb9e44341d4a.jfif' %}" class="step-image">  
        </div>
        <div class="col step-div">
            <img src="{% static 'main/images/Layo/008e398d9ba3a0b79fe7db12d10de226.jfif' %}" class="step-image">  
            <p>All you need is a tape rule and a little bit of direction</p>
        </div>
    </div>
</br>
</br>
<p>Tip: You can have any professional tailor or friend measure you if you are unsure of yourself.</p>
<p>Bonus tip: It could be fun or sexy depending on who is measuring</p>
</br>
<div class="measure-tut">
    <div class="opt">
        <div class="opt-div"></div>    
        <p>Follow our step by step guide for measurements</p>
    </div>    
    <p class="or">Or if you are a visual learner</p>
    <div class="opt">
        <div class="opt-div"></div>    
        <p>Watch a tutorial video on how to measure yourself</p>   
    </div>
</div>

</div>