<h2>Measurement details (Female)</h2>
<div class="container-fluid">
    <h3>Upper Torso Measurements</h3>    
    <div class="row">
        <div class="col">
            <div class="row-wrap">
                <div class="row">Round Neck:</div>
                <div class="row">Shoulder Length:</div>
                <div class="row">Back Shoulder Width:</div>
                <div class="row">Front Shoulder Width</div>
                <div class="row">Back Width:</div>
            </div>    
        </br>
        </br>
            <div class="row-wrap">
                <div class="row">Round Waist:</div>
                <div class="row">Front Waist Length:</div>
                <div class="row">Back Waist Length:</div>
                <div class="row">Blouse/Shirt Length:</div>
            </div>
        </div>
        <div class="col">
            <div class="row-wrap">
                <div class="row">Bust Length:</div>
                <div class="row">Bust Point Separation:</div>
                <div class="row">Under-Bust Length:</div>
                <div class="row">High Bust:</div>
                <div class="row">Round Bust:</div>
                <div class="row">Round Under-Bust:</div>
            </div>    
        </div>
    </div>
    </br>
    </br>
    <h3>Lower Torso Measurements</h3>    
    <div class="row">        
        <div class="col">
            <div class="row-wrap">
                <div class="row">Round Waist:</div>
                <div class="row">Round Abdomen:</div>
                <div class="row">Round Seat/Hips:</div>
                <div class="row">Round Thigh:</div>
                <div class="row">Round Knee:</div>
                <div class="row">Round Ankle:</div>
            </div>    
        </div>
        <div class="col">
            <div class="row-wrap">
                <div class="row">Waist to Hips:</div>
                <div class="row">Waist to Knee:</div>
                <div class="row">Waist to Ankle:</div>
                <div class="row">Outside Leg Length:</div>
                <div class="row">Inside Leg Length:</div>
            </div>    
        </div>
    </div>
    </br>
    </br>
    <h3>Sleeve Measurements</h3>    
    <div class="row">        
        <div class="col">
            <div class="row-wrap">
                <div class="row">Shoulder to Elbow:</div>
                <div class="row">Shoulder to Wrist:</div>
                <div class="row">Round Bicep:</div>
                <div class="row">Round Arm:</div>
                <div class="row">Round Wrist:</div>
            </div>    
        </div>
    </div>
    </br>
    </br>
</div>
<p>
    Tip: Always measure yourself as frequently as once every quarter depending on your body
    changes.
</p>