<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
        {% block title %}
        {% endblock %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-signin-client_id" content="518259746978-8b0o4oq17138tn8bpiom5impoc7c2l3u.apps.googleusercontent.com">

        <link rel="icon" href="{% static 'main/images/Layo/Layo 1.ico'%}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'main/css/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">        
        <link rel="stylesheet" href="{% static 'main/css/font/bootstrap-icons.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
        
        {% block links %}
        {% endblock %}
    </head>
    <body>
    {% block random %}    
    {% endblock %}
    {% if messages %}	
    <div class="messages">
        <ul>
            {% for message in messages %}
            <!--<li class="alert {{message.tags}} alert-dismissible fade show" role="alert">-->
            <li class="alert {{message.tags}} alert-dismissible show" role="alert">
                <p>{{ message }}</p>
                <button type="button" class="close btn-primary" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}    
    {% block header %}
    <header tabindex="0">
        <div class="header-container" id="header" style="top: 0em">
            <div id="sidebartoggle" class="sidebartoggle" onclick="toggleSidebar()">
                <div class='toggleline' id="toggleline1"></div>
                <div class='toggleline' id="toggleline2"></div>
                <div class='toggleline' id="toggleline3"></div>
            </div>        
            <div class="logo" tabindex="0">
                <a href="{% url 'main:welcome' %}" class="black-link small-cap">L'AYO</a>
            </div>
            <nav class="header-nav nav1">    
                <ul>
                    <li title="shop"><a class="link-icon" href="{% url 'main:exshopfilter' filter='M' %}">Men</a></li>
                    <li title="shop"><a class="link-icon" href="{% url 'main:exshopfilter' filter='F' %}">Women</a></li>
                    <li title="shop"><a class="link-icon" href="{% url 'main:exshopfilter' filter='B' %}">Kids</a></li>
                </ul>
            </nav>
            <nav class="header-nav nav2">
                <ul>
                    <li class="link-icon nav-item" tabindex="0">
                        <a class="link-icon" href="{% url 'main:fabrics' %}"><span>Fabrics</span></a>
                    <ul class="dropdown" id='fabricDropdown' tabindex="0">
                            <li><a href="{% url 'main:exfabricsfilter' filter='K' %}">Ankara</a></li>    
                            <li><a href="{% url 'main:exfabricsfilter' filter='A' %}">Adire</a></li>
                            <li><a href="{% url 'main:exfabricsfilter' filter='O' %}">Aso Oke</a></li>
                            <li><a href="{% url 'main:exfabricsfilter' filter='T' %}">Atiku</a></li>
                            <li><a href="{% url 'main:exfabricsfilter' filter='S' %}">Silk</a></li>
                            <li><a href="{% url 'main:exfabricsfilter' filter='L' %}">Lace</a></li>
                            <li><a href="{% url 'main:exfabricsfilter' filter='B' %}">Brocades</a></li>
                            <li><a href="{% url 'main:exfabricsfilter' filter='V' %}">Velvet</a></li>
                        </ul>    
                    </li>                        
                    <li class="link-icon nav-item" tabindex="0"><a href="{% url 'main:tailors_list' %}" class="link-icon"><span>Tailors/Fashion Designers</span></a></li>
                </ul>
            </nav>
            <nav class="header-nav nav3">
                <ul>
                    <li title="help"><a class="link-icon" href="{% url 'main:welcome' %}#info">How it works</a></li>
                    <li title="help" class="small-cap"><a class="link-icon" href="{% url 'main:welcome' %}#faq">faq</a></li>
                    <a class="link-icon" href="{% url 'main:cart' %}"><i class="bi-cart4"></i></a>
                </ul>    
            </nav>
            {% if request.user.is_authenticated %}   
            {% for group in request.user.groups.all %}
                <div class="dropdown profileDropdown" tabindex="0">
                    <span class="glyphicon glyphicon-user"></span> {{ request.user }}
                    <div class="drop-arrow">
                        <div class="div1"></div>
                        <div class="div2"></div>
                        <div class="div3"></div>
                    </div>
                    {% if group.name == 'Customers' %}
                        <ul class="drop-item hidden profileItems">
                            <li><a href="{% url 'main:custProfile' customer_id=request.user.customer.id %}"><span class="glyphicon glyphicon-user"></span>Account</a></li>
                            <li><a href="{% url 'main:auth' %}">Orders</a></li>
                            <li><a href="{% url 'main:auth' %}">Wishlist</a></li>        
                            <li><a href="{% url 'main:logout' %}">Logout</a></li>
                        </ul>
                    {% elif group.name == 'Tailors' %}
                        <ul class="drop-item hidden profileItems">
                            <li><a href="{% url 'main:tailorProfile' tailor_id=request.user.tailor.id %}"><span class="glyphicon glyphicon-user"></span>Account</a></li>
                            <li><a href="{% url 'main:auth' %}">Orders</a></li>
                            <li><a href="{% url 'main:logout' %}">Logout</a></li>
                        </ul>
                    {% elif group.name == 'Sellers' %}
                        <ul class="drop-item hidden profileItems">
                            <li><a href="{% url 'main:sellerProfile' seller_id=request.user.seller.id %}">Account</a></li>
                            <li><a href="{% url 'main:auth' %}">Orders</a></li>
                            <li><a href="{% url 'main:logout' %}">Logout</a></li>
                        </ul>
                    {% endif %}    
                </div>    
            {% empty %}
                <div class="dropdown username pc" id='profileDropdown' tabindex="0">
                    <span class="glyphicon glyphicon-user"></span> {{ request.user }}/nonuser
                    <div class="drop-arrow">
                        <div class="div1"></div>
                        <div class="div2"></div>
                        <div class="div3"></div>
                    </div>
                    <ul class="drop-item hidden" id="profileItems">
                        <li><a href="{% url 'main:auth' %}">Account</a></li>    
                        <li><a href="{% url 'main:auth' %}">Orders</a></li>
                        <li><a href="{% url 'main:auth' %}">Wishlist</a></li>
                        <li><a href="{% url 'main:logout' %}">Logout</a></li>
                    </ul>
                </div>
            {% endfor %}
            {% else %}
                <div class="dropdown" id='profileDropdown' tabindex="0">
                    <span class="glyphicon glyphicon-user"></span> Profile
                    <div class="drop-arrow">
                        <div class="div1"></div>
                        <div class="div2"></div>
                        <div class="div3"></div>
                    </div>
                    <ul class="drop-item hidden" id="profileItems">
                        <li><a href="{% url 'main:auth' %}">Sign in</a></li>    
                        <li><a href="{% url 'main:auth' %}">Sign up</a></li>
                    </ul>
                </div>
            {% endif %}
            <div class='sidebar closed' id='sidebar'>
            
            {% block sidenav %}    
            <ul>
                <li title="shop" class="header-icon"><a class="link-icon" href="{% url 'main:shop' %}">Shop</a></li>
                <br><br>
                <li title="shop"><a class="link-icon" href="{% url 'main:exshopfilter' filter='M' %}">Men</a></li>
                <li title="shop"><a class="link-icon" href="{% url 'main:exshopfilter' filter='F' %}">Women</a></li>
                <li title="shop"><a class="link-icon" href="{% url 'main:exshopfilter' filter='B' %}">Kids</a></li>
                <br>
                <li class="link-icon nav-item">Fabrics</li>
                
                <li class="link-icon nav-item"><a class="link-icon" href="{% url 'main:tailors_list' %}"><span>Fashion Designers</span></a></li>
                <br>
                <li title="help" class="header-icon small-icon"><a onclick="scrollV()" class="link-icon" href="{% url 'main:welcome' %}#info">How it works</a></li>
                <li title="help" class="header-icon small-icon small-cap"><a onclick="scrollV()" class="link-icon" href="{% url 'main:welcome' %}#faq">faq</a></li>                                
            </ul>
            {% endblock %}    
            </div>
    </header>
    {% endblock %}
    
    <div class="body-container" id="body-container">
        <div class="main" id="main">
            <main>
                {% block main %}
                {% endblock %}
            </main>
        </div>
        <footer>
            <div class="footer">
                <div class="services">
                    <h3>Doing Business</h3>
                    <ul>
                        <li>
                            <a href="{% url 'main:fabrics' %}" class="footer-link">Success Stories</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailors_list' %}" class="footer-link">Partner with us</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailors_list' %}" class="footer-link">Sew with us</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailors_list' %}" class="footer-link">Sell with us</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailors_list' %}" class="footer-link">Buy in Bulk</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailors_list' %}" class="footer-link">Join our logistics</a>
                        </li>
                    </ul>
                </div>

                <div class="company">
                    <h3>The Company</h3>
                    <ul>
                        <li>
                            <a href="{% url 'main:tailorReg' %}" class="footer-link">About us</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailorReg' %}" class="footer-link">What we do</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailorReg' %}" class="footer-link">Why we do it</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailorReg' %}" class="footer-link">Our blog</a>
                        </li>
                    </ul>
                </div>
    
                <div class="Questions">
                    <h3>Support</h3>
                    <ul>
                        <li>
                            <a href="{% url 'main:welcome' %}#faq" class="footer-link">Help</a>
                        </li>
                        <li>
                            <a href="{% url 'main:welcome' %}#faq" href="{% url 'main:tailorReg' %}" class="footer-link">FAQ</a>
                        </li>
                        <li>
                            <a href="{% url 'main:welcome' %}#faq" href="{% url 'main:tailorReg' %}" class="footer-link">Your Account</a>
                        </li>
                        <li>
                            <a href="{% url 'main:welcome' %}#faq" href="{% url 'main:tailorReg' %}" class="footer-link">Report</a>
                        </li>
                    </ul>
                </div>
                <div class="logos">
                    <div class="logo1">
                        <h2>L'ayo</h2>
                        <img src="{% static 'main/images/Layo/transparentlogo.png' %}">
                    </div>
                    <div class="logo2">
                        <h2>Nigeria</h2>
                        <img src="{% static 'main/images/Layo/nigerialogo.jfif' %}">
                    </div>
                </div>
                <div class="contact">
                    <h3>Contact us</h3>
                    <ul>
                        <li><a href=""><i class="bi-instagram"></i></a></li>
                        <li><a href=""><i class="bi-twitter"></i></a></li>
                        <li><a href=""><i class="bi-facebook"></i></a></li>
                        <li><a href=""><i class="bi-whatsapp"></i></a></li>
                        <li><a href=""><i class="bi-tiktok"></i></a></li>
                    </ul>
                </div>
                
                <div class="copyright">
                    &copy; L'ayo 2022
                </div>
            </div>
        </footer>
    {% block headertoggle %}
    <!--
        <div class="toggle-header">
            <span class="arrow-up" id="arrow-up" onclick="toggleHeader()"><i class="bi-arrow-90deg-up"></i></span>
        </div>
        -->
    {% endblock %}
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    </body>
</html>