<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
        {% block title %}
        {% endblock %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{% static 'main/images/Layo/Layo 1.ico'%}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'main/css/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">        
        <link rel="stylesheet" href="{% static 'main/css/font/bootstrap-icons.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
        {% block links %}
        {% endblock %}
    </head>
    <body>
    {% block random %}    
    {% endblock %}
    {% if messages %}	
    <div class="messages">
        <ul>
            {% for message in messages %}
            <!--<li class="alert {{message.tags}} alert-dismissible fade show" role="alert">-->
            <li class="alert {{message.tags}} alert-dismissible show" role="alert">
                <p>{{ message }}</p>
                <button type="button" class="close btn-primary" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}    
    {% block header %}
    <header tabindex="0">
        <div class="header-container" id="header" style="top: 0em">
            <div id="sidebartoggle" class="sidebartoggle" onclick="toggleSidebar()">
                <div class='toggleline' id="toggleline1"></div>
                <div class='toggleline' id="toggleline2"></div>
                <div class='toggleline' id="toggleline3"></div>
            </div>        
            <div class="logo" tabindex="0">
                <a href="{% url 'main:welcome' %}" class="black-link small-cap">L'AYO</a>
            </div>
            <nav class="header-nav nav1">    
                <ul>
                    <li title="shop"><a class="link-icon" href="{% url 'main:exshopfilter' filter='M' %}">Men</a></li>
                    <li title="shop"><a class="link-icon" href="{% url 'main:exshopfilter' filter='F' %}">Women</a></li>
                    <li title="shop"><a class="link-icon" href="{% url 'main:exshopfilter' filter='B' %}">Kids</a></li>
                </ul>
            </nav>
            <nav class="header-nav nav2">
                <ul>
                    <li class="link-icon nav-item" tabindex="0">
                        <a class="link-icon" href="{% url 'main:fabrics' %}"><span>Fabrics</span></a>
                        <ul class="dropdown" id='fabricDropdown' tabindex="0">
                            <li><a>Guinea</a></li>
                            <li><a>Senator</a></li>
                            <li><a>Various other materials</a></li>
                        </ul>    
                    </li>                        
                    <li class="link-icon nav-item" tabindex="0"><a href="{% url 'main:tailors_list' %}" class="link-icon"><span>Tailors/Fashion Designers</span></a></li>
                </ul>
            </nav>
            <nav class="header-nav nav3">
                <ul>
                    <li title="help"><a class="link-icon" href="{% url 'main:welcome' %}#info">How it works</a></li>
                    <li title="help" class="small-cap"><a class="link-icon" href="{% url 'main:welcome' %}#faq">faq</a></li>
                    <a class="link-icon" href="{% url 'main:cart' %}"><i class="bi-cart4"></i></a>
                </ul>    
            </nav>
            {% if request.user == AnonymousUser %}   
                <a href="{% url 'main:auth' %}" class="user">    
                    <button class='logInOut btn-outline-dark'>
                        <p>Sign In/Up</p>
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                </a>    
            {% else %}
                <div class="user">    
                    {% for group in request.user.groups.all %}
                    {% if group.name == 'Customers' %}
                        <span class="username pc">
                            <a href="{% url 'main:custProfile' customer_id=request.user.customer.id %}"><span class="glyphicon glyphicon-user"></span>{{ request.user }}</a>
                        </span> 
                        <span class="username mobile">
                            <a href="{% url 'main:custProfile' customer_id=request.user.customer.id %}"><span class="glyphicon glyphicon-user"></span></a>
                        </span> 
                    {% elif group.name == 'Tailors' %}
                        <span class="username pc">
                            <a href="{% url 'main:tailorProfile' tailor_id=request.user.tailor.id %}"><span class="glyphicon glyphicon-user"></span>{{ request.user }}</a>
                        </span> 
                        <span class="username mobile">
                            <a href="{% url 'main:tailorProfile' tailor_id=request.user.tailor.id %}"><span class="glyphicon glyphicon-user"></span></a>
                        </span> 
                    {% elif group.name == 'Sellers' %}
                        <span class="username pc">
                            <a href="{% url 'main:sellerProfile' seller_id=request.user.seller.id %}"><span class="glyphicon glyphicon-user"></span>{{ request.user }}</a>
                        </span> 
                        <span class="username mobile">
                            <a href="{% url 'main:sellerProfile' seller_id=request.user.seller.id %}"><span class="glyphicon glyphicon-user"></span></a>
                        </span> 
                    {% else %}
                        <a href="#">{{ request.user }}/admin</a>
                    {% endif %}
                    {% empty %}
                        <a href="#">{{ request.user }}/admin</a>
                    {% endfor %}
                    <!--<a href="{% url 'main:logout' %}" class="user">    
                        <button class='logInOut btn-outline-dark'>
                            Logout
                        </button>
                    </a>-->
                </div>
            {% endif %}
            </div>
            <div class='sidebar closed' id='sidebar'>
            
            {% block sidenav %}    
            <ul>
                <li title="shop" class="header-icon"><a class="link-icon" href="{% url 'main:shop' %}">Shop</a></li>
                <br><br>
                <li title="shop"><a class="link-icon" href="{% url 'main:exshopfilter' filter='M' %}">Men</a></li>
                <li title="shop"><a class="link-icon" href="{% url 'main:exshopfilter' filter='F' %}">Women</a></li>
                <li title="shop"><a class="link-icon" href="{% url 'main:exshopfilter' filter='B' %}">Kids</a></li>
                <br>
                <li class="link-icon nav-item">Fabrics</li>
                
                <li class="link-icon nav-item"><a class="link-icon" href="{% url 'main:tailors_list' %}"><span>Fashion Designers</span></a></li>
                <br>
                <li title="help" class="header-icon small-icon"><a onclick="scrollV()" class="link-icon" href="{% url 'main:welcome' %}#info">How it works</a></li>
                <li title="help" class="header-icon small-icon small-cap"><a onclick="scrollV()" class="link-icon" href="{% url 'main:welcome' %}#faq">faq</a></li>                                
            </ul>
            {% endblock %}    
            </div>
    </header>
    {% endblock %}
    
    <div class="body-container" id="body-container">
        <div class="main" id="main">
            <main>
                {% block main %}
                {% endblock %}
            </main>
        </div>
        <footer>
            <div class="footer">
                <div class="company">
                    <h3>The Company</h3>
                    <ul>
                        <li>
                            <a href="{% url 'main:tailorReg' %}" class="footer-link">About us</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailorReg' %}" class="footer-link">Blog</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailorReg' %}" class="footer-link">Return Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="services">
                    <h3>Services</h3>
                    <ul>
                        <li>
                            <a href="{% url 'main:fabrics' %}" class="footer-link">Fabrics</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailors_list' %}" class="footer-link">Fashion designers</a>
                        </li>
                    </ul>
                </div>
                <div class="Questions">
                    <h3>Questions?</h3>
                    <ul>
                        <li>
                            <a href="{% url 'main:tailorReg' %}" class="footer-link">FAQ</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailorReg' %}" class="footer-link">Help</a>
                        </li>
                    </ul>
                </div>
                <div class="join">
                    <h3>Join L'ayo</h3>
                    <ul>
                        <li>
                            <a href="{% url 'main:tailorRegInfo' %}" class="footer-link">Be a tailor on L'ayo</a>
                        </li>
                        <li>
                            <a href="{% url 'main:sellerRegInfo' %}" class="footer-link">Sell on L'ayo</a>
                        </li>
                        <li>
                            <a href="{% url 'main:tailorRegInfo' %}" class="footer-link">Terms and Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="contact">
                    <h3>Contact/Connect with us</h3>
                    <ul>
                        <li><a href=""><i class="bi-instagram"></i></a></li>
                        <li><a href=""><i class="bi-twitter"></i></a></li>
                        <li><a href=""><i class="bi-facebook"></i></a></li>
                        <li><a href=""><i class="bi-whatsapp"></i></a></li>
                        <li><a href=""><i class="bi-tiktok"></i></a></li>
                    </ul>
                </div>
                
                <div class="copyright">
                    &copy; L'ayo 2022
                </div>
            </div>
        </footer>
    {% block headertoggle %}
    <!--
        <div class="toggle-header">
            <span class="arrow-up" id="arrow-up" onclick="toggleHeader()"><i class="bi-arrow-90deg-up"></i></span>
        </div>
        -->
    {% endblock %}
    </div>
    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>    
    <script src="{% static 'main/js/base.js' %}"></script>    
    {% block scripts %}
    {% endblock %}
    </body>
</html>