{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Clothe sample
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/clothe.css' %}">
{% endblock %}

{% block main %}
<div class="container main">
    <div class="col-sm-6">
        <img class="clothe_image" src="{{ object.image.url }}">
    </div>
    <div class="col-sm-6 info">
        <div>
            <!--<div class="cart" onclick="cartadd(this)" id="{{ fabric.id }}">
                Add to cart<i class="bi-cart4"></i>
            </div>-->
            {% if object.type == 'Not specified' %}
            <div class="name">fab{{object.id}}</div>
            {% else %}
            <div class="name">{{ object.company_name }}design{{object.id}}</div>
            {% endif %}
        </div>
        <input id="amount" value="1" type="hidden">
        <span class="price"> {{ object.price }} </span>                 
        <!--<div class="amount">
        <!--<label for="amount"> How many: </labe>
        <input id="amount" value="1" type="number">
        </div>-->
        <div class="cart" onclick="cartadd(this)" id="{{ object.id }}">
            Add to cart<i class="bi-cart4"></i>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'main/js/clothe.js' %}"></script>
{% endblock %}