{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Fabrics
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/shop.css' %}">
<link rel="stylesheet" href="{% static 'main/css/fabrics.css' %}">
{% endblock %}

{% block main %}
<div class="container">    
    <h1 class="caption">Get quality fabrics at your doorstep</h1>    
    <div class="row intro">
        {% for fabric in fabrics|slice:":3" %}    
        <div class="col-sm-4">
            <div class="img step{{ forloop.counter }}">
                <a><img src="{{ fabric.image.url }}"></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for fabric in fabrics %}
            <div class="col-sm-4 product">
                <div class="img">    
                    <a href="{% url 'main:fabric_sample' fabric_id=fabric.id %}"><img src="{{ fabric.image.url }}"></a>
                    <div class="feats">
                        <i class="bi-heart" onclick="heart(this)"></i>    
                        <i class="bi-cart" onclick="cart(this);cartadd(this);" id="{{ fabric.id }}"></i>
                    </div>
                </div>
                <div class="info">
                    <span class="price"> N {{ fabric.price }} </span>
                    {% if fabric.type == 'Not specified' %}
                    <div class="name">fab{{fabric.id}}</div>
                    {% else %}
                    <div class="name">{{ fabric.type }}{{fabric.id}}</div>
                    {% endif %}
                </div>
                {% if fabric.type == 'K' %}    
                <div class="type"> Ankara </div>
                {% elif fabric.type == 'A' %}    
                <div class="type"> Adire </div>
                {% elif fabric.type == 'O' %}    
                <div class="type"> Aso Oke </div>
                {% elif fabric.type == 'T' %}    
                <div class="type"> Adtiku </div>
                {% elif fabric.type == 'B' %}    
                <div class="type"> Brocades </div>
                {% elif fabric.type == 'C' %}    
                <div class="type"> Chiffon </div>
                {% elif fabric.type == 'L' %}    
                <div class="type"> Lace </div>
                {% elif fabric.type == 'S' %}    
                <div class="type"> Silk </div>
                {% elif fabric.type == 'T' %}    
                <div class="type"> Tulle </div>
                {% elif fabric.type == 'V' %}    
                <div class="type"> Velvet </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<div class="filter filter_more" id="filter_container">
    <i class='bi-filter-right filterToggle' id="filter_toggle"></i>    
    <form id="filter_form" action="{% url 'main:fabricsfilter' %}" method="POST">
        {% csrf_token %}   
        <ul class="list"> 
            <li>    
            {% if 'K' in types %}    
                <input type="checkbox" name="K" checked>
            {% else %}
                <input type="checkbox" name="K">
            {% endif %}
                <span> Ankara </span>
            </li>
            <li>
            {% if 'A' in types %}        
                <input type="checkbox" name="A" checked>
            {% else %}
                <input type="checkbox" name="A">
            {% endif %}
                <span> Adire </span>
            </li>
            <li>
            {% if 'O' in types %}    
                <input type="checkbox" name="O" checked>
            {% else %}
                <input type="checkbox" name="O">
            {% endif %}
                <span> Aso Oke </span>
            </li>
            <li>
            {% if 'T' in types %}        
                <input type="checkbox" name="T" checked>
            {% else %}
                <input type="checkbox" name="T">
            {% endif %}
                <span> Atiku </span>
            </li>
            <li>
            {% if 'B' in types %}            
                <input type="checkbox" name="B" checked>
            {% else %}
                <input type="checkbox" name="B">
            {% endif %}
                <span> Brocades </span>
            </li>
            <li>
            {% if 'C' in types %}                
                <input type="checkbox" name="C" checked>
            {% else %}
                <input type="checkbox" name="C">
            {% endif %}
                <span> Chiffon </span>
            </li>
            <li>
            {% if 'L' in types %}                
                <input type="checkbox" name="L" checked>
            {% else %}
                <input type="checkbox" name="L">
            {% endif %}
                <span> Lace </span>
            </li>
            <li>
                {% if 'S' in types %}                
                <input type="checkbox" name="S" checked>
            {% else %}
                <input type="checkbox" name="S">
            {% endif %}
                <span> Silk </span>
            </li>
            <li>
            {% if 'T' in types %}
                <input type="checkbox" name="T" checked>
            {% else %}
                <input type="checkbox" name="T">
            {% endif %}
                <span> Tulle </span>
            </li>
            <li>
            {% if 'V' in types %}                
                <input type="checkbox" name="V" checked>
            {% else %}
                <input type="checkbox" name="V">
            {% endif %}
                <span> Velvet </span>
            </li>
            <li class="reload">
                <button type="submit"><i class='bi-arrow-clockwise'></i></button>
            </li>
        </ul>
    </form>
</div>

<div class="loadMore">
    {% if fabrics.has_previous %}
        <a class="first" href="?page=1">&laquo; first</a>
        <a class="previous"href="?page={{ fabrics.previous_page_number }}">previous</a>
    {% endif %}
    <span>
        Page {{ fabrics.number }} of {{ fabrics.paginator.num_pages }}
    </span>
    {% if fabrics.has_next %}
        <a class="next" href="?page={{ fabrics.next_page_number }}">next</a>
        <a class="last" href="?page={{ fabrics.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'main/js/shop.js' %}"></script>
<script src="{% static 'main/js/fabrics.js' %}"></script>
{% endblock %}