{% extends 'main/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'main/css/join.css' %}">
{% endblock %}

{% block main %}
<div class="container mcontainer">
    <h4>    
        Be a tailor or sell on Layo    
    </h4>
    <br><br><br>
    Please contact us through the following numbers:
    <li>+2348164517777</li>
    <li>+2348124420102</li>
    <li>+2347016578601</li>
    <li>+2348161664172</li>
</div>    
{% endblock %}

{% block scripts %}
<script src="{% static 'main/js/join.js' %}"></script>    
{% endblock %}