{% load static %}
<form id="measureopt" class="measureopt" action="{% url 'main:measureopt' %}" method="POST">
    {% csrf_token %}
    <aside>
        Kindly select an option   
    </aside>
    
    <div class="optwrap">
        <label for="opt1">  Enter measurement details </label>
        <div class="radiowrap">
            <input id="opt1" type="radio" name="measureopt" value="opt1">
        </div>
    </div>
    <div class="optwrap">    
        <label for="opt2"> Self measurement: How to? </label>
        <input id="opt2" type="radio" name="measureopt" value="opt2">
    </div>
    <div class="optwrap optwrap3">
        <label for="opt3"> Request professional measurement (<strong>recommended</strong>) </label>
        <input id="opt3" type="radio" name="measureopt" value="opt3" checked>
    </div>
    <div class="optwrap optwrap3">
        <label for="opt4"> Do this later </label>
        <input id="opt4" type="radio" name="measureopt" value="opt4">
    </div>
        
    <button type="submit" class="btn btn-dark mbtn">Next</button>
</form>
{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/measureopt.css' %}">
{% endblock %}

