{% load static %}
<form id="measureopt" class="d-flex flex-column justify-content-center align-items-start" action="{% url 'main:measureopt' %}" method="POST">
    {% csrf_token %}
    <aside class="d-flex flex-row align-items-center justify-content-center m-3 measureopt-aside">
        Kindly select an option   
    </aside>
     
    <div class="form-check form-check-inline m-4 opt">
        <input class="form-check-input" id="opt1" type="radio" name="measureopt" value="opt1">
        <label for="opt1" class="form-check-label">  Enter measurement details </label>
    </div>
    <div class="form-check form-check-inline m-4 opt"> 
        <input class="form-check-input" id="opt2" type="radio" name="measureopt" value="opt2">
        <label for="opt2" class="form-check-label"> Self measurement: How to? </label>
    </div>
    <div class="form-check form-check-inline m-4 opt">
        <input class="form-check-input" id="opt3" type="radio" name="measureopt" value="opt3" checked>
        <label for="opt3" class="form-check-label"> Request professional measurement (<strong>recommended</strong>) </label>
    </div>
    <div class="form-check form-check-inline m-4 opt">
        <input class="form-check-input" id="opt4" type="radio" name="measureopt" value="opt4">
        <label for="opt4" class="form-check-label"> Do this later </label>
    </div>
        
    <button type="submit" class="btn btn-dark mbtn align-self-end">Next</button>
</form>
