{% load static %}
<p class="close-popauth" onclick="submit_form(this)">&times;</p>

<form id="sign-in" class="sign-in popsign-in" action="{% url 'main:login' %}" method="POST">
    {% csrf_token %}
        <div class="form-group">
            <input type="username" name="username" id="user_id" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" name="password" id="pass_id" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-outline-dark mbtn">Sign in</button>
        <div class="form-group" id="forgot_pass">
            <a href="#">Forgot Password</a>
        </div>
    
        <p>Or</p>
        <div class="g-signin2" data-onsuccess="onSignIn">
            <img src="{% static 'main/images/btn_google_signin_dark_pressed_web@2x.png' %}">
        </div>
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
</form>

<form id="sign-up" class="sign-up popsign-up needs-validation" novalidate action="{% url 'main:register' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input type="username" name="username" id="new_user_id" class="form-control" placeholder="Username">        
    </div>
    <div class="form-group">
        <input type="email" name="email" id="user_email" class="form-control" placeholder="Email"> 
    </div>
    <div class="form-group">
        <input type="password" name="password1" id="user_password1" class="form-control" placeholder="Password">   
    </div>
    <div class="form-group">
        <input type="password" name="password2" id="user_password2" class="form-control" placeholder="Confirm password">   
    </div>
    <button type="submit" onclick="validate()" class="btn btn-outline-dark mbtn">Create account </button>
</form>
