{% load static %}

<form id="sign-up" class="border border-success sign-up popsign-up needs-validation" novalidate action="{% url 'main:register2' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="first_name" class="form-control-sm" placeholder="First name">        
    </div>
    <div class="form-group">
        <input type="text" name="last_name" class="form-control-sm" placeholder="Last name">
    </div>
    <div class="form-group">
        <input type="email" name="email" id="user_email" class="form-control-sm" placeholder="Email"> 
    </div>
    <div class="form-group">
        <input type="password" name="password1" id="user_password1" class="form-control-sm" placeholder="Password">   
    </div>
    <div class="form-group">
        <input type="password" name="password2" id="user_password2" class="form-control-sm" placeholder="Confirm password">   
    </div>
    <button type="submit" onclick="validate()" class="btn-sm btn-outline-dark mbtn">Create account </button>
</form>
