{% extends 'main/base.html' %}
{% load static %}
{% block title %}
profile
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/profile2.css' %}">
{% endblock %}

{% block main %}
<div class="profile d-flex flex-wrap align-items-center justify-content-center p-3">
    <div class="profile_pic">
        <img src="{{ partner.profile_image.url }}" class="rounded-circle">  
    </div>
    <div class="info">
        <h1 class="info-company">{{ partner.brand_name }}</h1>
        {% with ''|center:partner.tailor.rating as range %}
        <div class="rating">
            {% for val in range %}
            <i class="bi-star-fill rating" ></i>
            {% endfor %}
        </div>
        <p class="spec-info"> Specification: <span>{{ partner.tailor.specs }}</span> clothes</p>
        <p class="text-muted">Email: {{ partner.email }}</p>
        <p class="text-muted">Address: {{ partner.address }} {{ partner.city }}</p>
        {% endwith %}
    </div>
</div>

<div class="market">    
    {% if partner.brand_type == 'T' %}
    <div class="d-flex flex-row align-items-center justify-content-center text-muted market-header p-2"><p class="lead">Works</p><i class="bi-grid-3x3-gap"></i></div>
    {% elif partner.brand_type == 'F' %}
    <div class="market-header"><h4>Fabrics</h4><i class="bi-grid-3x3-gap"></i></div>
    {% else %}
    <div class="market-header"><h4>Clothes</h4><i class="bi-grid-3x3-gap"></i></div>
    {% endif %}
    <div class="container">
        <div class="row">
        {% for obj in market %}
            <div class="col-md-4 col-sm-6 showitem">
                <a href="{% url 'main:cloth_sample' cloth_id=obj.id %}"><img src="{{ obj.image.url }}" alt="image-x" ></a>
                <div class="cloth-info">
                    <span class="price"> {{ obj.price }} </span>
                    {% with ''|center:obj.rating as range %}
                    <div class="rating">
                    {% for val in range %}
                        <i class="bi-star-fill rating" ></i>
                    {% endfor %}
                    {% endwith %}
                    </div>
                </div>
            </div>
        {% empty %}
        <p class="mx-auto p-5 lead text-muted">No previous work available</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}