{% extends 'main/base.html' %}
{% load static %}
{% block title %}
profile
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/profile2.css' %}">
{% endblock %}

{% block main %}
<div class="profile">
    {% if tailor %}    
    <div class="profile_pic">
        <img src="{{ tailor.profile_image.url }}">  
    </div>
    <div class="info">
        <h1 class="info-company">{{ tailor.user }}</h1>
        <p class="spec-info"> Specification: <span>{{ tailor.gender_spec }}</span></p>
        {% with ''|center:tailor.rating as range %}
        <div class="rating">
            {% for val in range %}
            <i class="bi-star-fill rating" ></i>
            {% endfor %}
        </div>
        {% endwith %}
    </div>
    <h1 class="info-company">{{ seller.user }}</h1>
    {% elif seller %}
    <div class="profile_pic">
       <img src="{{ seller.image.url }}">
    </div>
    <div class="info">
        <h1 class="info-company">{{ seller.user }}</h1>
        {% with ''|center:seller.rating as range %}
        <div class="rating">
            {% for val in range %}
            <i class="bi-star-fill rating" ></i>
            {% endfor %}
        {% endwith %}
        </div>
    </div>
    {% endif %}
</div>
<div class="works">
    <div class="works-header"><h3>Works</h3><i class="bi-grid-3x3-gap"></i></div>
    <div class="container">
        <div class="row myrow">
        {% for obj in clothes %}    
            <div class="col-md-4 col-sm-6 mycol showitem">
                <a href="{% url 'main:clothe_sample' clothe_id=obj.id %}"><img class="grid-item" src="{{ obj.image.url }}" alt=" " ></a>
                <div class="clothe-info">
                    <span class="price"> {{ obj.price_range }} </span>
                    {% with ''|center:obj.rating as range %}
                    <div class="rating">
                    {% for val in range %}
                        <i class="bi-star-fill rating" ></i>
                    {% endfor %}
                    {% endwith %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}