{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock %}

{% block main %}
<div class="content">
    <div class="navigation" id="nav">
        <ul>
            <li class="nav-item" id="account" tabindex="0">Account</li>
            <li class="nav-item" id="inbox" tabindex="0">Inbox</li>
            <li class="nav-item" id="order" tabindex="0">Orders</li>
            {% for group in request.user.groups.all %}
            {% if group.name == 'Customers' %}
            <li class="nav-item" id="measurement" tabindex="0">Measurement</li>
            <!--<li class="nav-item" id="wishlist" tabindex="0">Wishlist</li>-->
            <!--<li class="nav-item" id="viewed" tabindex="0">Recently Viewed</li>-->
            {% endif %}
            {% endfor %}
            <input id="userId" type="hidden" name="userId" value="{{ request.user.customer.id }}">
            <div class="profile-image" onclick="profilePic()">
                {% if request.user.customer.profile_image %}
                    <img alt="profile picture" id="profileImage" src="{{ request.user.customer.profile_image.url }}" class="rounded-circle">
                {% else %}
                    <img alt="profile picture" id="profileImage" src="{% static 'main/images/blank-profile-picture-gc048af202_1280.png' %}" class="rounded-circle">
                {% endif %}
            </div>
            <form method="POST" enctype="multipart/form-data"
                action="{% url 'main:custProfileImage' %}" id="profileImageForm" class="hidden">
                    {% csrf_token %}
                <input name="profile-image" type="file" id="profileImageInput">
                <input type="submit" value="change" id="profileImageSubmit" accept="image/png, image/jpeg">
            </form>
        </ul>
        <a href="{% url 'main:logout' %}"><p class="logout" id="logout" tabindex="0">Logout</p></a>
    </div>
    <div id="sideDrop" class="sidedrop" onclick="navToggle()">
        <i class="bi-arrow-bar-down toggle"></i>
    </div>
    <div class="container-fluid overview" id="overview">    

    </div>
</div>
<img class="loading no-display" src="{% static 'main/images/Layo/transparentlogo.png' %}" alt="loading...">
{% endblock %}

{% block scripts %}
<script src="{% static 'main/js/profile.js' %}"></script>
<script src="{% static 'main/js/jquery-3.6.0.min.js' %}"></script>
{% endblock %} 