{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock %}

{% block main %}
<div class="content">
    <div class="navigation" id="nav">
        <ul>
            <li class="nav-item" id="account" tabindex="0">My Account</li>
            <li class="nav-item" id="inbox" tabindex="0">Inbox</li>
            <li class="nav-item" id="order" tabindex="0">Orders</li>
            {% for group in request.user.groups.all %}
            {% if group.name == 'Customers' %}
            <input id="userId" type="hidden" name="userId" value="{{ request.user.customer.id }}">
            {% elif group.name == 'Tailors' %}
            <input id="userId" type="hidden" name="userId" value="{{ request.user.tailor.id }}">
            {% elif group.name == 'Sellers' %}
            <input id="userId" type="hidden" name="userId" value="{{ request.user.seller.id }}">
            {% endif %}
            {% endfor %}
        </ul>
        <a href="{% url 'main:logout' %}"><p class="logout" id="logout" tabindex="0">Logout</p></a>
    </div>
    <div id="navtoggle" class="sidebartoggle" onclick="navToggle()">
        <div class='navline' id="navline1"></div>
        <div class='navline' id="navline2"></div>
        <div class='navline' id="navline3"></div>
    </div>
    <div class="container-fluid overview">    
        
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'main/js/profile.js' %}"></script>
<script src="{% static 'main/js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}