{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock %}

{% block main %}
<div class="content">
    <div class="navigation" id="nav">
        <ul>
            <li class="nav-item" id="account" tabindex="0">Account</li>
            <li class="nav-item" id="inbox" tabindex="0">Inbox</li>
            <li class="nav-item" id="order" tabindex="0">Orders</li>
            {% for group in request.user.groups.all %}
            {% if group.name == 'Customers' %}
            <li class="nav-item" id="wishlist" tabindex="0">Wishlist</li>
            <li class="nav-item" id="viewed" tabindex="0">Recently Viewed</li>
            <li class="nav-item" id="measurement" tabindex="0">Measurement</li>
            {% endif %}
            {% endfor %}
            {% for group in request.user.groups.all %}
            {% if group.name == 'Customers' %}
            <input id="userId" type="hidden" name="userId" value="{{ request.user.customer.id }}">
            {% elif group.name == 'Tailors' %}
            <input id="userId" type="hidden" name="userId" value="{{ request.user.tailor.id }}">
            {% elif group.name == 'Sellers' %}
            <input id="userId" type="hidden" name="userId" value="{{ request.user.seller.id }}">
            {% endif %}
            {% endfor %}
            <div class="profile-image">
                <img src="{% static 'main/images/blank-profile-picture-gc048af202_1280.png' %}"    
            </div>
        </ul>
        <a href="{% url 'main:logout' %}"><p class="logout" id="logout" tabindex="0">Logout</p></a>
    </div>
    <div id="sideDrop" class="sidedrop" onclick="navToggle()">
        <i class="bi-arrow-down-square"></i>
    </div>
    <div class="container-fluid overview">    
        
    </div>
</div>
<img class="loading no-display" src="{% static 'main/images/Layo/transparentlogo.png' %}" alt="loading...">
{% endblock %}

{% block scripts %}
<script src="{% static 'main/js/profile.js' %}"></script>
<script src="{% static 'main/js/jquery-3.6.0.min.js' %}"></script>
{% endblock %} 