<form id="sign-up" class="sign-up needs-validation" novalidate action="{% url 'main:register' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username </label>
        {{ register_form.username }}
    </div>
    <div class="form-group">
        <label for="email">Email</label>    
        {{ register_form.email }}
    </div>
    <div class="form-group">
        <label for="password1">Password for your account</label>    
        {{ register_form.password1 }}
    </div>
    <div class="form-group">
        <label for="password2">Confirm Password</label>    
        {{ register_form.password2 }}
    </div>
    <button type="submit" onclick="validate()" class="btn btn-dark mbtn">Submit</button>
</form>
<div class="alt-sign">
    Already have an account?  <button type="button" class="btn btn-outline-dark" onclick="signIn()">Sign In</button>
</div>
