{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Designers
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/cart.css' %}">
<link rel="stylesheet" href="{% static 'main/css/tailors.css' %}">
{% endblock %}

{% block main %}
<div class="mycontainer">
    {% for obj in page_obj %}
    <div class="myrow">
        <div class="img">
            <a href="{% url 'main:sendmail' clothe_id=obj.id %}"><img src="{{ obj.profile_image.url }}"></a>
        </div>
        <div class="info">
            <p>{{ obj.user }}</p>
            <p> Specifies in {{ obj.gender_spec }} clothings</p>
            <a href="{% url 'main:profile' user=obj.user %}">View more details</a>
        </div>
    </div>
    {% endfor %}
    <div class="loadMore">
        {% if page_obj.has_previous %}
            <a class="first" href="?page=1">&laquo; first</a>
            <a class="previous"href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a class="next" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="last" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>    
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'main/js/tailors.js' %}"></script>
{% endblock %}
