{% extends 'main/base.html'%}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'main/css/welcome.css' %}">
{% endblock %}

{% block main %}
<div class="border rounded position-fixed bottom-0 end-0 no-display popauth " id="popauth">
        
</div>
<p class="random1 random small-cap"> your dream clothing </p>
<div class="wlcPic" id="slideShow">
    <div class="slideimg">
        <img src="{% static 'main/images/Layo/welcome_cover.jpg' %}">
    </div>    
</div>    
<div class="page-content">
    <p class="random2 random small-cap"> made just for you</p>     
    <div class="catwrapper">
        <div class="row category">
            <div class=" col-4 category-item first-item">
                <div class="cat-image">

                </div>        
                <span class="caption"> Select the finest fabrics </span>
                {% if not request.user.partner %}
                <div class="button-wrapper">
                    <a href="{% url 'main:fabrics' %}"><button class="box btn btn-primary"> Shop </button></a>
                </div>
                {% endif %}
            </div>
            <div class="col-4 category-item second-item">
                <div class="cat-image">

                </div>    
                <span class="caption"> Discover the best tailors and fashion designers </span>
                {% if not request.user.partner %}
                <div class="button-wrapper">
                    <a href="{% url 'main:tailors_list' %}"><button class="box btn"> Connect </button></a>
                </div>
                {% endif %}
            </div>
            <div class="col-4 category-item last-item">
                <div class="cat-image">

                </div>
                <span class="caption"> Make the latest style </span>
                {% if not request.user.partner %}
                <div class="button-wrapper">
                    <a href="{% url 'main:shop' %}"><button class="box btn"> Style </button></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <img class="loading no-display" src="{% static 'main/images/Layo/transparentlogo.png' %}" alt="loading...">
    {% if request.user == AnonymousUser %}   
    <div onclick="submit_form(this)">
        <form class="staticpopup invisible" id="staticpopup" method="GET" action="{% url 'main:popauth' %}">
            Sew your clothes with L'ayo
            <input type="hidden" name="thisform" value="signup">
        </form>
    </div>
    {% endif %}   
    <div class="addinfo1 addinfo">
        <img src="{% static 'main/images/Layo/a537ee0bdc12183ac6e297976ac8b363.jfif' %}">
        <div>
            <h2> Door to Door Delivery</h2>
            <p class="my-2"> We pick, we deliver and we connect. 
                Everything comes to you </p>
        </div>
    </div>
    <div class="addinfo2 addinfo">
        <div>
            <h2> All in one place </h2>
            <p class="my-2"> The perfect material, flawless sewing and the voguish styles synchronised
                in a seameles and efficient manner </p>
            
        </div>
        <img src="{% static 'main/images/Layo/addinfo2.jfif' %}">
    </div>

    <div class="p-5 re-wrapper rounded">
        <div class="re d-flex flex-column bg-white m-5 align-items-center justify-content-center p-5">
            <div class="re-item text-center p-4 d-flex flex-column align-items-center">
                <div>
                    {% for val in '1234' %}
                        <i class="bi-star-fill rating"></i>
                    {% endfor %}
                    <i class="bi-star-half rating"></i>
                    <h5>Peer Reviewed</h5>
                    <p>Each service rated by you, the customers</p>
                </div>
            </div>
            <div class="re-item re-item2 text-center p-4 d-flex flex-column align-items-center">
                <div class="re-item-image">

                </div>    
                <div>
                    <h5>Escrow payments</h5>
                    <p>We will hold payment until specific performance</p>
                </div>
            </div>
            <div class="re-item re-item3 text-center d-flex flex-column align-items-center p-4">
                <div class="re-item-image">

                </div>        
                <div>
                    <h5>10-day Guarantee</h5>
                    <p>We ensure delivery within 10 days</p>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'main/js/welcome.js' %}"></script>    
{% endblock %}