<form method="POST" action="{% url 'main:editprofile' %}">
  {% csrf_token %}
  <div class="row">  
    <div class="col-12 accdiv"> 
        <h3 class="acch">Account details</h3>
        <p class="accp">Name: <span>{{ userdetails.username }}</span></p>
        <p class="accp">Email address: 
          <input class="accin" type="email" placeholder="{{ userdetails.email }}" name="email" value="{{ userdetails.email }}">
        </p>
        <p class="accp">phone number: 
          <i class="code">+234</i><input class="accin" type="tel" placeholder="{{ userdetails.phone_no1 }}" name="phone_no1" {% if userdetails.phone_no1 %} value="{{ userdetails.phone_no1 }}" {% endif %}>
        </p>
        <p class="accp">alternative phone number:  
          <i class="code">+234</i>
          <input class="accin" type="tel" placeholder="{{ userdetails.phone_no2 }}" name="phone_no2" {% if userdetails.phone_no1 %} value="{{ userdetails.phone_no2 }}" {% endif %}>
        </p>
        <button onclick="sessionStorage['view']='overview'" type="submit" class="btn btn1 btn-dark mbtn">Save changes</button>
        <p class="accp password" onclick="changep()">Change password?</p>
      </div>
    </div>
</form>
<form method="POST" id="changepassform" class="needs-validation" novalidate action="{% url 'main:changepass' %}" autocomplete="off">
  {% csrf_token %}    
    <div id="changep" class="changep">
      <div class="form-group col-md-6">
        <label for="newp">New password</label>
        <input name="password1" id="password1" class="form-control" type="password" autocomplete="off">
      </div>
      <div class="form-group col-md-6">
        <label for="confirmp">Confirm password</label>
        <input name="password2" id="password2" class="form-control" type="password" autocomplete="off" required>
      </div>
      <button onclick="sessionStorage['view']='overview'; validate()" id="changepassbtn" type="submit" class="btn btn-dark mbtn btn2">Confirm change</button>
    </div>
</form>