<h2>Account overview</h2>
<div class="row">
    <div class="part col-6"> 
        <h3>Account details</h3>
        <p>Name: <span>{{ userdetails.username }}</span></p>
        <p>Email address: <span>{{ userdetails.email }}</span></p>
        {% if userdetails.phone_no1 %}
            <p>Phone number: <span>+234{{ userdetails.phone_no1 }}</span></p>
        {% elif userdetails.phone_no2 %}
            <p>Phone number: <span>+234{{ userdetails.phone_no2 }}</span></p>
        {% endif %}
        <i onclick="edit1()" id="edit1" title="edit" class="bi-pencil-fill"></i>
    </div>
    <div class="part col-6">
        <h3>Address book</h3>
        <h4 onclick="addressedit1()" class="default">Your defualt address</h4></a>
            {% if userdetails.this_address.address %}
            <span>{{ userdetails.this_address.address }}</span>
            {% endif %}
            {% if userdetails.this_address.city %}
            <span>{{ userdetails.this_address.city }}</span>
            {% endif %}
            {% if userdetails.this_address.state %}
            <span>{{ userdetails.this_address.state }}</span>
            {% endif %}
            {% if userdetails.this_address.zipcode %}
            <span>{{ userdetails.this_address.zipcode }}</span>
            {% endif %}
            <i onclick="edit2()" id="edit2" title="edit" class="bi-pencil-fill"></i>
    </div>
    <div class="part col-6"> 
        <h3>Measurement details</h3>
        <span></span>
        <i onclick="edit2()" id="edit3" title="edit" class="bi-pencil-fill"></i>
    </div>
</div> 