:root {  
  --themecolor: black;  
  --oldthemecolor: rgb(203 83 83);
  --genfontfamily: 'Montserrat', serif;
}

body{
  /*background: url(../images/static-4bc0d4e4-bf2d-11eb-b207-4201c0a80002.jfif) no-repeat;*/
  background: white;
  background-size: cover;
  background-position:center;
}

.form-container {
    margin: 30px;
    border: 1px solid black;
    width: fit-content;
}

.form-container form {
    padding: 30px 50px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.07em;
}
.form-container label {
  font-weight: 400;
}
#forgot_pass{
    position: relative;
    top: 40px;
    font-weight: 400;
    font-size: small;
 }

 #forgot_pass a
 {
    color: rgb(139 101 100);
 }

 .alt-sign
 {
  padding:20px;
  text-align: center;
 }

 .sign-up, .sign-in {
    background-color:  transparent;
    transition: all 1s;
  }
 .sign-in:hover {
   background-color: rgb(209,244,239);
 }
 
 .sign-up:hover {
   background-color: rgb(251,237,212);
 }

 .mbtn {
   margin-top: 12px;
 }
 
 aside
  {
   font-size: 1.5em;
   font-family: cursive;
   font-variant: small-caps;
   color: #e85656;
 }
.request {
  display: none; 
}

@media only screen and (max-width: 700px)
{
 .form-container {
  margin-top: 50px;
 }
 .form-container form {
    padding: 30px 50px;    
    font-size: 1.0em;
}
}

@media screen and (max-width:460px) {
  .form-container {
    margin: 10px;
    border: 0;
  }
  .form-container form {
    padding: 0;
    padding: 20px 10px;
    font-size: 1em;
  }
  input {
    height: 25px !important;
  }
  .opt {
    margin-bottom: .8em !important; 
    margin-top: .8em !important; 
  }
  button {
    font-size: inherit !important;
  } 
}

@media screen and (max-width:230px) {
  .measureopt-aside {
    font-size: 1.2em;
  }  
  .opt input {
    height: 10px !important;
  }
}
