:root {  
  --oldthemecolor: rgb(228, 72, 72);
  --themecolor: black;
  --headercolor: rgb(39, 149, 138);
  --genfont: 13px;
  --genfontfamily: 'Montserrat', serif;
  --oldgenfontfamily: 'Cormorant SC', serif;
  --lightcolor: rgb(207, 206, 206);
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /*background: linear-gradient(white, rgba(255, 255, 255, 0.9), white), url(../images/italian-dressmaker-1240630.jpg) no-repeat center center fixed;*/
  font-size: var(--genfont);
  font-family: var(--genfontfamily);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
i {
  color: var(--oldthemecolor);
}
.pointer {
  cursor: pointer;
}
.body-container {
  margin: 0px;
  padding: 0px;
  overflow: auto;
  position: relative;
  transition: top 0.5s;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    height: 3em;
    position: relative;
    transition: all 0.5s;
    padding: 0em 2em;
    font-size: 1.2em;
    background-color: #FAFAFA;
    font-family: Montserrat;
}
.header-nav {
  position: relative;
  top: 8px;
}
.header-nav ul li {
  display: inline-block;
  margin-left: .4em;
  margin-right: .4em;
}
.nav1 {
  position: relative;  
  left: 25px;
}
.nav2 {
  position: relative;
  left: 20px;
}
.nav3 {  
  margin-right: -5px;
}
.search {
  width: 230px;
}
.search .form-control,
.search div {
  height:35px;
}
.link-icon {
  font-size: 1em;
  font-weight: 350;  
  color: var(--themecolor) !important;
  transition: all 0.15s;
  cursor: pointer;
  position: relative;
}
.link-icon:hover {
  color: rgba(203, 83, 83, 0.5);
}
.nav-item {
  padding: 30px 0;
}
.nav-item span:hover {
  color: rgba(203, 83, 83, 0.8) !important;
  transition: color .1s;
}

.nav2 ul li:first-child:hover span{
  color: rgb(156 24 24) !important;
  font-weight: 400;
  transition: all .1s;
} 
.hidden {
  display: none;
}
.header-icon {
  font-size: 1em;
  display: inline-block;
}

.header-icon a{
  margin: 2em;
}

.profile-image {
  width: 3rem;
  height: 3rem;
  align-self: center;
  cursor: pointer;
}
.popover-wrapper {
  z-index: 4;
}
.popover {
  margin-top: 10px !important;
  margin-left: 105px !important;
  padding: 3px;
}
.bi-gear {
  font-size: 1.1em;
  padding: 3px;
}
.popover-content {
  display: flex;
}
.popover-item,
.popover-item a{
  list-style-type: none;
  padding: 5px;
  color: black !important;
}
.popover-item {
  margin: 5px;  
  border: 1px solid green;
  border-radius: 5px;
}
.fabrics-dropdown-items {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.fabrics-dropdown-items p{
  width: 100%;
  margin: 7px; 
  color: grey !important;
  border-bottom: 1px solid var(--lightcolor);
}
.fabrics-dropdown-items p:hover{
  color: black !important;  
}
.drop-arrow {
  display: flex;  
  height: 10px;
  flex-direction: column;
  align-items: center;
}
.drop-arrow div {
  height: 2px;
  margin: 1.5px;
  background-color: black;
}
.drop-arrow .div1{
  width: 15px;
}
.drop-arrow .div2{
  width: 10px;
}
.drop-arrow .div3{
  width: 3px;
}

header .logo {
  font-family: Ubuntu;
  font-size: 1.3em;
  position: absolute;
}
header .logo img {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
}

div.main {
/*  display: flex;
  justify-content: center;
  margin: 0px 30px; */
  min-height: 70vh;
}

.footer {
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  position: relative;
  background-color: rgb(245,240,240);
  padding: 30px;
}
.footer-header {  
  font-weight: 600;
}
.legal {
  font-weight: 600;
}
.mlgi {
  border: 0px !important;  
  background-color: transparent;
  padding-top: 0px;
  padding-left: 0px;
}
.logo1 img {
  margin-top: -36px;
  width: 100px !important;
  height: 100px !important;
}
.logo2 {
  gap: 30px;
  margin-bottom: 20px;
}
.logo2 img {
  margin-top: -9px;
  width: 50px !important;
  height: 50px !important;
}
.footer-link{
  color:inherit;
  transition: all .3s;
}

.footer-link:hover {
  color: rgba(203, 83, 83, 1);
}
.contact i {
  height: 40px;
  color: var(--headercolor);
}
.contact i:hover {
  color: rgba(203, 83, 83, 1);
  transition: color 0.4s;
}
.copyright {
  font-weight: 200;
  font-size: small;
  position: absolute;
  right: 20px;
  bottom: 0px;
  padding: 10px;
}

.position-absolute {
  z-index: 5;
}
.fixed-top {
  margin: 0 auto;
}
  .logInOut{
    background-color: transparent;
    border-radius: 2.5em;
    color: var(--themecolor) !important;
    border: 1px solid var(--themecolor) !important;
    transition: all 0.2s;
    height: 30px;
  }
  .logInOut:hover {
    background-color: rgba(203, 83, 83, 0.2) !important;
  }
  .logInOut * {
    display: inline-block;
  }
  .small-icon{
    font-size: 1em;
  }
  .small-icon a:hover {
    text-decoration: none;
  }  

  .small-cap {
    font-variant: small-caps;
  }
  .black-link {
    color: black;
  }
  .logo a:hover{
    text-decoration: none;
    color: black;
  }
  img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.sidebar {
  display: none;
}

.bi-cart4 {
  font-size: 1.4em;
  padding: 12px;
  color: var(--oldthemecolor);
}
.popauth {
  box-shadow: 0px 0px 100vw 100px rgba(0, 0, 0, 1), 0px 0px 100vw 100px rgba(0, 0, 0, .9) inset;
  box-shadow: 0px 0px 100vw 100vw rgba(0,0,0,.4);
  text-align: center;
  left: 10vw;
  top: 10vh;
  display: flex;
  width: 70vw;
  background-color: transparent;
  color: var(--themecolor);
  z-index: 3;
  height: fit-content;
}
.popsign-in,
.popsign-up {
  background-color: white;  
  padding: 50px;
  border-radius: 1px;
  width: 40vw;
}
.g-signin2 img{
  width: 150px;  
  cursor: pointer;
  transition: all .5s;
  filter:brightness(95%);
}
.g-signin2 img:hover {
  filter:brightness(105%);
}

.close-popauth {
  font-size: 3em;
  position: absolute;
  left: 20px;
  cursor: pointer;
}

#forgot_pass {
  margin: 20px;
}
.no-display {
  display: none;
}

.loading {
  width: 120px;
  height: 120px;    
  position: fixed;
  top: 30vh;
  left: 50vw;
  z-index: 7;
  animation-name: load;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.badge {
  left: 50%;
  top: 0;
}
.loadMore {
  background-color: white; 
  width: fit-content;
  position: relative;
  border: 5px;
  margin: 20px 0px;
  padding: 5px 7px;
  font-size: 1em !important;
}
.loadMore a {
  font-size: 1.2em;
}
.first {
  margin-right: 25px;
  font-size: 1em;
}
.previous {
  margin-right: 10px;
  font-size: 1em;
}

.next {
  margin-left: 10px;
}
.last {
  margin-left: 25px;
}

@keyframes load {
  0% { transform: rotateZ(0deg); }
  50% { transform: rotateZ(180deg); }
  100% { transform: rotateZ(360deg); }
}

@media screen and (max-width: 890px) {  
.search {
  width: 200px;
}
@media screen and (max-width: 860px) {  
  .search {
    width: 170px;
  }
  header .logo {
    padding: 0;
    margin-left: -30px;  
  }
}
@media screen and (max-width: 768px) {  
  header .logo {
    margin-left: 0px;
  }  
  .popauth {
    width: 80vw;
    left: 10vw;
  }  
  .sidebar {
    display: block;
    position: relative;
    background-color: rgb(19,132,150);
    width: 200px;
    line-height: 2.05em;
    opacity: 0.98;
    position: fixed;
    z-index: 4;
    height: 100vh;
    top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    left: 0px;
    transition: all 0.6s;
    font-size: 1.2em;
  }
  
  .sidebar ul {
    padding: 0;
    padding-top: 50px;
    list-style-type: none;
  }
  .sidebar ul li {  
    text-align: center;
    margin: 0;
    color: white;
    border-radius: 30px;
  }
  .sidebar ul li a {
    color: white !important;
  }
  .sidebar ul li:hover {
    background-color: rgb(20, 104, 117);
    transition: background-color 0.3s;
  }
  header .logo {
    position: relative;
  }
  .closed {
    left: -200px;
  }
  .closed *{
    display: none;
  }
  
  .sidebartoggle {
    position: relative;
    z-index: 5;
    cursor: pointer;
    left: 0px;
    transition: all 0.7s;
  }
  .toggleline {
    background-color: rgb(19,132,150);
    height: 2.5px;
    width: 18px;
    margin: 3px;
   }
 
  .toggleclose {
    left: 120px;
  }
  .toggleclose #toggleline2 {
    display: none;
    background-color: white;
  }
  .toggleclose #toggleline1 {
    margin: -2px;
    background-color: white;
    transform: rotate(50deg);
  }
  .toggleclose #toggleline3 {
    background-color: white;  
    transform: rotate(-50deg);
    margin: -2px;
  }
  .logInOut {
    border: 0px !important;
  }
  .toggle-header,
  .header-nav,
  .logInOut p {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .popsign-in,
  .popsign-up {
    padding-left: 30px;
    padding-right: 30px;
  }  
}
@media screen and (max-width: 600px) {
  .loading {
    top: 40vh;
    left: 40vw;
    z-index: 7;
    animation-name: load;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }  
  .popauth {
    width: 75vw;
    left: 12vw;
  }    
  .popsign-in,
  .popsign-up {
    padding-left: 20px;
    padding-right: 20px;
  }    
}
@media screen and (max-width: 500px) {
  body {
    font-size: 10px;
  }  
  .dropdown-toggle {
    font-size: 1em;
  }
  .dropdown-menu {
    font-size: 1em;
  }
  .popauth {
    width: 100vw !important;
    left: 0vw;
  }      
  .popsign-up {
    padding-top: 30px;
  }      
  .popsign-up,
  .popsign-in {
    width: 50vw;
    padding-left: 10px ;
    padding-right: 10px;
  }
}
@media screen and (max-width: 350px) {
  .popsign-in,
  .popsign-up {
    padding-left: 1px;
    padding-right: 1px;
  }
} 

@media only screen and (max-width: 300px) {  
  .close {
    margin-top: -10px;
  }
  body {
    font-size: 8px;
  }
  .sidebar {
    font-size: initial;
  }
  .profile-image {
  width: 2rem;
  height: 2rem;
  align-self: center;
  cursor: pointer;
}
}

@media only screen and (max-width: 300px) {
  .header-container {
    font-size: .5rem;
    height: 5em;
  }
  header .logo span {
    display: none;
  }
  header .logo img {
    width: 70px !important;
    height: 70px !important;
  }
}
