:root {  
  --themecolor: rgb(228, 72, 72);
  --headercolor: rgb(48, 174, 161);
  --genfont: 13px;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(white, rgba(255, 255, 255, 0.9), white), url(../images/italian-dressmaker-1240630.jpg) no-repeat center center fixed;
  font-size: var(--genfont);
  font-family: 'Cormorant SC', serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.body-container {
  margin: 0px;
  padding: 0px;
  overflow: auto;
  position: relative;
  transition: top 0.5s;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    height: 4em;
    position: relative;
    border-bottom: 1px solid black;
    transition: all 0.5s;
    padding: 0 2em;
}

.header-nav {
  position: normal;
}
.header-nav ul li {
  display: inline-block;
  margin: 0 .6em;
}
.nav1 {
  margin-left: 25px;
}
.nav2 {
  position: relative;
  left: 20px;
}
.nav3 {  
  margin-right: -35px;
}
.link-icon {
  font-size: 1em;
  font-weight: 350;  
  color: var(--themecolor) !important;
  transition: all 0.15s;
  cursor: pointer;
  position: relative;
}
.link-icon:hover {
  color: rgba(203, 83, 83, 0.5);
}
.nav-item {
  padding: 30px 0;
}
.nav-item span:hover {
  color: rgba(203, 83, 83, 0.8) !important;
  transition: color .1s;
}
.nav-item:hover .dropdown{
  display: block;
  box-sizing: border-box;
  padding: 0em 1.5em;
  position: absolute;
  top: 4.8em;
  height: 55vh;
  text-align: left;
  width: max-content;
  justify-content: flex-start;
  background: linear-gradient(to bottom,rgb(250,250,250), rgb(251,251,251), white);
  z-index: 2;
}

.dropdown li {
  padding: .2em;
}
.nav2 ul li:first-child:hover span{
  color: rgb(156 24 24) !important;
  font-weight: 400;
  transition: all .1s;
} 
.dropdown{
  display: none;
}
.dropdown li{
  display: block !important;
  margin: .6em 1em !important;
  font-weight: 400 !important;
}
.hidden {
  display: none;
}
.header-icon {
  font-size: 1em;
  display: inline-block;
}

.header-icon a{
  margin: 2em;
}

.profileDropdown {
 display: block; 
 cursor: pointer;
  position: relative;
}
.drop-arrow {
  display: flex;  
  height: 10px;
  flex-direction: column;
  align-items: center;
}
.drop-arrow div {
  height: 2px;
  margin: 1.5px;
  background-color: black;
}
.drop-arrow .div1{
  width: 15px;
}
.drop-arrow .div2{
  width: 10px;
}
.drop-arrow .div3{
  width: 3px;
}
.profileItems {
  position: fixed;
  right: 15px;
  width: inherit;
  padding: 0;
  z-index: 2;
}
.profileItems a {
  color: grey !important;
  background-color: white;
  padding: 7px;
  border: 1px solid black;
}
.profileItems li:hover {
  filter: brightness(95%);
}
  .toggle-header {
    position: fixed;
    top: 1em;
    left: 0.5em;
    cursor: pointer;
  }  
  
  .arrow-up {
    color: rgb(98 234 234);
    transition: all 0.15s;
  }
    .arrow-up:hover {
      color: rgba(98, 234, 234, 0.9);
    }

header .logo {
  font-weight: 900;
  font-size: 1.9em;
  padding: 15px;
  position: absolute;
}


div.main {
  display: flex;
  justify-content: center;
  margin: 0px 30px;
  min-height: 70vh;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 150px;
  padding: 10px;
  border-top: 0.5px solid black;
  position: relative;
  background-color: rgb(245,240,240);
  font-size:small;
  min-height: 50vh;
  width: 100%;
}
footer div {
  padding: 40px;
  border-top: 0px;
  border-bottom: 0px;
  transition: all 0.6s;
}
footer h3 {
  font-size: 2em;
  padding: 0 0 10px 20px;
  font-variant: small-caps;
}
footer ul {
  list-style-type: none;
  text-align: left;
}
footer li {
  padding: 5px 20px;
}
.company li,
.services li,
.Questions li {
  margin-left: -35px;  
}
.footer-link{
  color:inherit;
}

.footer-link:hover {
  color: rgba(203, 83, 83, 0.8);
}

.contact {  
  border-top: 0.05px;
}
.logos {
  display: flex;
  flex-direction: column;
  gap: 0; 
  margin-top: -40px;
}
.logos, .contact 
{  
  padding-top: 0px;  
}
.logos h2 {
  padding: 0;
  margin: 0;
}
.logo1, .logo2 {
  display: flex;
}
.logo2 {  
  margin-top: -80px;  
  flex-direction: row-reverse;
}
.logo1 img {
  margin-top: -40px;  
  width: 100px !important;
  height: 100px !important;
}
.logo2 img {
  margin-right: 20px;  
  width: 50px !important;
  height: 50px !important;
}
.contact {
  grid-column: 3/4;
  margin-left: -130px;
}
.contact i {
  font-size: 1.5em;
  height: 40px;
  color: var(--headercolor);
}
.contact ul {
  position: relative;
  left: -45px;
}
.contact ul li {
  display: inline-block;
}
.contact i:hover {
  color: rgba(203, 83, 83, 0.8);
  transition: color 0.4s;
}

.copyright {
  font-weight: 200;
  font-size: small;
  position: absolute;
  right: 20px;
  bottom: 0px;
  padding: 10px;
}

.messages
{
  z-index: 3;
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 28vw;
  opacity: 0.98;
}
.close {
  padding: 20px !important;
  color: blue !important;
  font-size: 1.5em;
  height: 50px !important;
  width: 50px !important;
  border-radius: 10px;
}
.messages ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  text-align: center;
  list-style-type: none;
  margin-left: -25px;
}
.messages ul li {
  width: fit-content;
  height: fit-content;
}
  .debug {
    background-color: rgba(182, 182, 47, 0.5);
  }
  .info {   
    background-color: gainsboro;
  }
  .success {
    background-color: rgba(144, 238, 144, 0.5);
  }
  .warning {
    background-color: rgba(231, 241, 38, 0.3);
  }
  .error {
    background-color: rgba(255, 50, 50, 0.5);
  }    
  .logInOut{
    background-color: transparent;
    border-radius: 2.5em;
    color: var(--themecolor) !important;
    border: 1px solid var(--themecolor) !important;
    transition: all 0.2s;
    height: 30px;
  }
  .logInOut:hover {
    background-color: rgba(203, 83, 83, 0.2) !important;
  }
  .logInOut * {
    display: inline-block;
  }
  .small-icon{
    font-size: 1em;
  }
  .small-icon a:hover {
    text-decoration: none;
  }  

  .small-cap {
    font-variant: small-caps;
  }
  .black-link {
    color: black;
  }
  .logo a:hover{
    text-decoration: none;
    color: black;
  }
  img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.pc {
  display: block;
}
.mobile {
  display: none;
}
.top-anchor {
  text-align: right;
  text-decoration: none;
  transition: all 0.3s;
}
.top-anchor:hover {
  text-align: right;
  text-decoration: none;
}
.sidebar {
  display: none;
}

.bi-cart4 {
  font-size: 1.4em;
  padding: 12px;
  color: var(--themecolor);
}
.popauth {
  box-shadow: 0px 0px 100vw 100px rgba(0, 0, 0, 1), 0px 0px 100vw 100px rgba(0, 0, 0, .9) inset;
  display: block;
  position: fixed;
  text-align: center;
  left: 20vw;
  top: 15vh;
  display: flex;
  width: 60vw;
  height: 80vh;
  background-color: transparent;
  color: var(--themecolor);
  z-index: 3;
  border-radius: 30px;
}
.popsign-in,
.popsign-up {
  background-color: white;  
  padding: 50px;
  border-radius: 1px;
  font-family:sans-serif;
  width: 40vw;
}
.g-signin2 img{
  cursor: pointer;
  transition: all .5s;
  filter:brightness(95%);
}
.g-signin2 img:hover {
  filter:brightness(105%);
}
input {
  width: 80%;
}
.popsign-in div,
.popsign-up div {
  padding: 10px;
}
.popsign-in {
  border: 1px solid black;  
  height: 100%;
}
.popsign-up {
  margin-top: 30px;  
  height: 85%;
}
.close-popauth {
  font-size: 3em;
  position: absolute;
  left: 20px;
  cursor: pointer;
}

#forgot_pass {
  font-size: 1;
}
.no-display {
  display: none;
}
@media screen and (min-width: 900px) {
  .messages
{
  left: 33vw;
}
}
/* mobile design */
@media screen and (max-width: 780px) {
  .messages {
    z-index: 3;
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 26vw;
    opacity: 0.98;
  }
}

@media screen and (max-width: 768px) {  
  .popauth {
    width: 80vw;
    left: 10vw;
  }  
  .sidebar {
    display: block;
    position: relative;
    background-color: blanchedalmond;
    width: 200px;
    line-height: 2.05em;
    opacity: 0.98;
    position: fixed;
    z-index: 4;
    height: 100vh;
    top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    left: 0px;
    transition: all 0.6s;
    font-size: 1.2em;
  }
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  
  .sidebar ul {
    padding: 0;
  }
  .sidebar ul li {
    padding: 0;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
  }
  .sidebar ul li:hover {
    background-color: rgb(250 220 173);
    transition: background-color 0.6s;
  }
  header .logo {
    font-weight: 900;
    padding: 1px;
    position: relative;
  }
  .closed {
    left: -200px;
  }
  .closed *{
    display: none;
  }
  
  .sidebartoggle {
    position: relative;
    z-index: 5;
    cursor: pointer;
    left: 0px;
    transition: all 0.7s;
  }
  .toggleline {
    background-color: var(--themecolor);
    height: 2.5px;
    width: 18px;
    margin: 3px;
   }
 
  .toggleclose {
    left: 120px;
  }
  .toggleclose #toggleline2 {
    display: none;
  }
  .toggleclose #toggleline1 {
    margin: -2px;
    transform: rotate(50deg);
  }
  .toggleclose #toggleline3 {
    transform: rotate(-50deg);
    margin: -2px;
  }
  .logInOut {
    border: 0px !important;
  }
  .toggle-header,
  .header-nav,
  .logInOut p {
    display: none;
  }
  footer div {
  padding: 50px 0 50px 50px;
  border-top: 0px;
  border-bottom: 0px;
  transition: all 0.6s;
}
  footer h3 {
    font-size: 1.8em;
    padding: 0;
  }
  footer li {
    padding: 5px;
  }
  .contact ul li {
    padding: 10px;
  }
  .footer {
    height: fit-content;
}
}

@media screen and (max-width: 700px) {
  .popsign-in,
  .popsign-up {
    padding-left: 30px;
    padding-right: 30px;
  }  
  .messages {
    left: 25vw;
  }
}
@media screen and (max-width: 650px) {
    .messages {
      left: 20vw;
   }
}
@media screen and (max-width: 600px) {
  .popauth {
    width: 75vw;
    left: 12vw;
  }    
  .popsign-in,
  .popsign-up {
    padding-left: 20px;
    padding-right: 20px;
  }    
  .messages {
    left: 15vw;
  }
}
@media screen and (max-width: 500px) {
  .popauth {
    width: 100vw !important;
    left: 0vw;
  }      
  .popsign-up {
    padding-top: 30px;
  }      
  .popsign-up,
  .popsign-in {
    width: 50vw;
    padding-left: 10px ;
    padding-right: 10px;
  }
  .messages
  {
    left: 10vw;
  }
  footer div {
  padding: 10px 0 50px 10px;
  border-top: 0px;
  border-bottom: 0px;
  transition: all 0.6s;
}
  footer h3 {
    font-size: 1.2em;
    padding: 0;
  }
  footer li {
    padding: 5px;
  }
  .footer-link {
    font-size: 0.8em;
  }
  .contact {
   margin-left: -80px;
  }
  .contant h3 {
    margin-left: 50px;
  }
  .contact ul {
    left: -10px;
  }
  .contact ul li {
    padding: 10px;
  }
}
  @media screen and (max-width: 400px) {
  .messages{
    left: 7vw;
  }
}
    @media screen and (max-width: 385px) {
  .messages {
    left: 4vw;
  }
}
  @media screen and (max-width: 358px) {
  .messages {
    left: 2vw;
  }
}
  @media screen and (max-width: 350px) {
    .popsign-in,
    .popsign-up {
      padding-left: 1px;
      padding-right: 1px;
    }
  .messages {
    left: 5vw;
    font-size: .8em;
  }
} 
@media only screen and (max-width: 300px) {
  
  .close {
    margin-top: -10px;
  }
  body {
    font-size: 10px;
  }
  .sidebar {
    font-size: initial;
  }
  footer h3{
    font-size: 1em;
  }
  footer div{
    padding-bottom: 5px; 
  }
  .contact ul li {
    font-size: .7em;
  }
  .copyright {
    font-size: .7em;
  }
}
@media only screen and (max-width: 250px) {
  .messages {
    left: -5vw;
  }
  body {
    font-size: 7px;
  }
  footer div {
    font-size: .6em;
  }
  .contact {
    margin-left: -90px;
  }
  .contact h3 {
    margin-left: 20px;
  }
}