:root {
    --themecolor: rgb(228, 72, 72);
    --headercolor: rgb(48, 174, 161);    
  }
  
.empty{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5em;
    margin-top: 10vh;
    color: var(--themecolor);
}
.shop-prompt {
    background-color: rgb(248, 178, 48);
    height: 50px;
    font-size: 1em;
    padding: 10px;
    margin:10px;
    color: white;
    border-radius: 10px;
}
.mycontainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 50px;
}
.myrow {
    display: flex;    
    height: 100px;
    padding: 0 50px;
    background-color: rgba(255, 255, 255, .7);
    margin: 10px;
    position: relative;
    align-items: center;
}
.myrow span {
    position: absolute;
    right: 30px;
    font-size: 1.3em;
}
.remove {
    background-color: rgb(248, 220, 224);
    position: absolute;
    right: 30px;
    top:0px;
    padding: 7px;
    color: var(--themecolor);
    cursor: pointer;
}
.myrow .img {
    width: 100px;
    height: 100px;
}
.sumtotal {
    font-size: 1.4em;
    color: var(--themecolor);
    font-family: cursive;
}
.sumtotal .price {
    font-size: 1em;
}
.checkout {
    background-color: rgb(248, 178, 48);
    border-radius: 5px;
    padding: 7px;
    width: fit-content;
    position: relative;
    margin-top: 30px;
    left: 60vw;
    cursor: pointer;
    transition: all .3s;
}
.checkout:hover {
    padding: 8px;
}
.loadMore {
    background-color: white; 
    width: fit-content;
    position: relative;
    left:55%;
    border: 5px;
    margin: 20px 0px;
    padding: 10px 20px;
    font-size: 1em !important;
  }
  .loadMore a {
    font-size: 1.2em;
  }
  .first {
    margin-right: 25px;
    font-size: 1em;
  }
  .previous {
    margin-right: 10px;
    font-size: 1em;
  }
  
  .next {
    margin-left: 10px;
  }
  .last {
    margin-left: 25px;
  }
  