.main {
   padding: 0;
   height: 100vh;
}

.clothe_image {
    
    height: 80vh;
    margin-top: 10px;
}
.btn {
    cursor: pointer;
    margin: 20px;
}

.info {
    background-color: transparent;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
    font-size: 1.2em;
}
.preview {
    height: 50vh;
}
.cart {
    background-color: rgb(250, 185, 65);
    background-color: rgba(255, 255, 255, .5); 
    padding: 5px;
    border-radius: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.cart:hover {
    font-size: 1.1em !important;
  }
.amount input {
    width: 60px;
    height: 25px;
}
  