.main {
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}
.clothe_image {
    width: 60%;
    height: 80vh;
}
.btn {
    margin-bottom: 2em;
    cursor: pointer;
}
