.profile {
    height: 80vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}
.profile_pic {
    height: 60vh;
    flex: 1;
}
.profile_pic img {
    border-radius: 30px;
}
.info {
    position: relative;    
    left: 30px;
    flex: 2;  
    background-color: transparent;
    position: relative;
    padding: 50px;
}
.info-company {
    font-size: 3em;
    color: var(--themecolor);    
}
.spec-info {
    color: var(--themecolor);
    font-size: 2em;
    width: fit-content;
    padding: 10px 0;
}
.profile span {
    color: black;
}
.contact-table {
    font-size: 1.1em;
    color: gray;
}
.contact-table span {
    color:black;
}
.contact-table td {
    padding: 5px;
}
.profile h3 {
    font-size: 2em;
    color: var(--themecolor);
}
.works-header {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: l00;
}
.bi-grid-3x3-gap {
    margin-top: -4px;    
}
.showitem {
    margin-bottom: 3.5em;
}
.mycol {
    height: 60vh;
}
.showitem img {
    object-fit: fill;
    height: 50vh;
}
.clothe-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price {
    font-size: 2em;
    align-items: center;
}
.rating {
    font-size: 1.2em;    
    display: flex;
    color: rgb(247, 180, 55);
    gap: 4px;
}

@media screen and (max-width: 850px) {
    .profile_pic{
        flex: 2;    
    } 
}    
@media screen and (max-width: 650px) {
    .profile_pic{
        height: 50vh;
    } 
}       
@media screen and (max-width: 650px) {
.info {
    font-size: .8em;
}    
}
@media screen and (max-width: 550px) {
    .info {
        font-size: .6em;
    }
    .profile_pic {
        flex: 3;
    }
}
@media screen and (max-width: 400px) {
    .profile_pic {
        flex: 2;
        height: 40vh;
    }    
    .info {
        padding: 0px;
        font-size: .4em;
    }   
    .profile {
        padding: 0 !important;
        margin-top: -80px;
    }
}    
@media screen and (max-width: 300px) {    
    .profile_pic {
        flex: 2;
        height: 30vh;
    }    
    .info {
        padding: 0px;
        font-size: .4em;
    }   
}    