.profile {
    border-bottom: 1px solid black;
}
.profile_pic img {
    height: 300px;    
    width: 300px;
}
.info {
    position: relative;    
    left: 30px;
    flex: 2;  
    background-color: transparent;
    padding: 50px;
}
.info-company {
    font-size: 3em;
}
.rating {
    font-size: 1.2em;    
    display: flex;
    color: rgb(247, 180, 55);
    gap: 4px;
}
.spec-info {
    font-size: 2em;
    width: fit-content;
    padding: 10px 0;
}
.spec-info span {
    color: var(--oldthemecolor);
}
.market-header {
    gap: 5px;
    box-shadow: 0 0 max(100vh, 100vw) rgba(0, 0, 0, .12);
}
.bi-grid-3x3-gap {
    margin-top: -10px;
    font-size: 1.3em;
}
.showitem {
    margin-bottom: 3.5em;
}
.showitem img {
    object-fit: fill;
    height: 50vh;
}
.showitem img:hover {
    filter: brightness(95%);
    transition: filter 0.5s;
}
.cloth-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price {
    font-size: 2em;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .profile_pic img {
        width: 200px;
        height: 200px;
    }

}
@media screen and (max-width: 280px) {
    .profile_pic img {
        width: 150px;
        height: 150px;
    }
    .info {
        padding: 20px;
    }
    .profile {
        font-size: .8em;
    }        
    .bi-grid-3x3-gap {
        font-size: 1.5em;
    }    
}
