body {
  z-index: 1;
  font-size: 10px;
}
.header-container {
  margin: 7px;
} 
.link-icon {
  font-size: 1.2em;
  font-weight: 350;  
  color: rgb(203 83 83);
  transition: all 0.15s;
}
.link-icon:hover {
  color: rgba(203, 83, 83, 0.5);
}

.mmain-container {
  padding: 10px;
  background-color: transparent;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 3px;
}
div.main {
    display: block;
    margin: 0px;
    padding: 0px;
    }
    
.filter {
    position: fixed;
    background-color: white;
    left: 0px;
    top: 15%;
    min-width: 9em;
    display: flex;
    flex-direction: column;
    border-radius: 0px 6px 6px 0px;
    padding: 40px 0px;
    font-size: small;
    z-index: 2;
    transition: all 0.5s;
    height: 70vh;
}
.fiter_more {
  left: 0px;
}
.filter_less {
  left: -7.5em;
}
.list {
    list-style-type: none;
    text-align: left;
    margin-left: -20px;
}
.list li {
    padding: 0.4em;
    
}
.list span {
    margin-left: 6px;
}
.reload {
    position: relative;
    left: 25%;
    top: 40px;
  }
  .reload button{
    border: 0px;
    background-color: transparent;
    font-size: 1.1em;
  }
  .reload button:hover {
    opacity: .7;
  }

  .img {
    height: 50vh;
  }
.product {
  margin-top: 10px;  
  margin-bottom: 15px;
  height: 60vh;
}
/*.info {
display: flex;  
flex-direction: row;
height: 3em;
border-radius: 10px;
text-align: center;
line-height: 1em;
align-items: center;
justify-content: center;
background-color: transparent;
*/
.info {
background-color: transparent;  
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.cart {
  color: var(--themecolor);
  cursor: pointer;
  background-color: rgba(255, 255, 255, .5); 
  height: 100%;
  padding: 2px;
  font-size: 1.4em;
  flex: 3;
  transition: all .5s;
}
.cart:hover {
  font-size: 1.5em !important;
}

.mid {
  flex: 2;
}
/*.info span {
  flex: 1;
  font-weight: 100;
  background:linear-gradient(to bottom right, rgba(255, 255, 255, .7) 70%,  transparent);
  color: var(--themecolor);
  height: 100%;
  padding: 10px 0;
}*/
.price {
  font-size: 2.2em;
  align-items: center;
}
.rating {
  font-size: 1.2em;    
  display: flex;
  color: rgb(247, 180, 55);
  gap: 4px;
}

.theme_cover {
  padding: 0em;
  height: fit-content;
  border-bottom: 1px solid grey;
  margin: 0em;
  margin-bottom: 1em;  
}
.cover_img {
  background: url(../images/Screenshot\ \(19\).png) no-repeat;
  height: 60vh;
  margin-bottom: 30px;
  background-size: cover;
}

.filterToggle {
  position: absolute;
  right: -10px;
  top: 0px;
  font-size: 1.8em;
  color: blue;
  cursor: pointer;
}

.loadMore {
  background-color: white; 
  width: fit-content;
  position: relative;
  left:55%;
  border: 5px;
  margin: 20px 0px;
  padding: 10px 20px;
  font-size: 1.5em !important;
}
.loadMore a {
  font-size: 1.2em;
}
.first {
  margin-right: 25px;
  font-size: 1em;
}
.previous {
  margin-right: 10px;
  font-size: 1em;
}

.next {
  margin-left: 10px;
}
.last {
  margin-left: 25px;
}
@media screen and (max-width: 576px){
  .mmain-container {
    padding: 30px;
  }
}