.mmain-container {
  padding: 0 0 10px 0;
  background-color: transparent;
  margin-top: 0;
  margin-bottom: 2em;
  border-radius: 3px;
  overflow-x: hidden;
}
div.main {
    display: block;
    margin: 0px;
    padding: 0px;
    }

  .img {
    height: 40vh;
  }
.product {
  margin-top: 10px;  
  margin-bottom: 15px;
  height: 60vh;
}
.info {
background-color: transparent;  
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.cart {
  color: var(--themecolor);
  cursor: pointer;
  background-color: rgba(255, 255, 255, .5); 
  height: 100%;
  padding: 2px;
  font-size: 1.4em;
  flex: 3;
  transition: all .5s;
}
.cart:hover {
  font-size: 1.5em !important;
}

.mid {
  flex: 2;
}

.price {
  font-size: 1.7em;
  align-items: center;
  font-family: Lato;
}
.rating {
  font-size: 1em;    
  display: flex;
  color: black;
  gap: 4px;
}

.theme_cover {
  padding: 0em;
  height: fit-content;
  border-bottom: 1px solid grey;
  margin: 0em;
  margin-bottom: 1em;  
}
.cover_img {
  height: 60vh;
  margin-bottom: 30px;
}
.cover_img1 {
  background: url(../images/Layo/pexels-mike-250288.jpg) no-repeat;
  background-size: cover;
}
.cover_img2 {
  background: url(../images/pexels-connor-mcmanus-11912141.jpg) no-repeat;
  background-size: cover;
  background-position: center 30%;
}
.cover_img3 {
  background: url(../images/pexels-koolshooters-7330388.jpg) no-repeat;
  background-size: cover;
  background-position: center 40%;
  padding: 200px;
}
.first {
  margin-right: 25px;
}
.previous {
  margin-right: 10px;
}

.next {
  margin-left: 10px;
}
.last {
  margin-left: 25px;
}
.tag {
  background-color:blue;
  color: white;
  position: absolute;
  top: 0px;
  font-size: .6em;
}
.shop-cat-item {
  height: 130px;
  position: relative;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.shop-cat-item:hover {
  border-color: red !important;
}
.shop-cat-item p {
  padding: 10px 0;
}
.shop-cat-item .icon {
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat ;
  height: 70%;
}  
.shop-cat-item1 .icon {
  background-image: url(../images/clipart2263201.png);
}
.shop-cat-item2 .icon {
  background-image: url(../images/Layo/clipart710386.png);  
}  
.shop-cat-item3 .icon {
  background-image: url(../images/Layo/clipart977322.png);  
}  
.shop-cat-item4 .icon {
  background-image: url(../images/Layo/clipart25171.png);  
}  
.shop-cat-item5 .icon {
  background-image: url(../images/Layo/clipart989531.png);  
}  
.shop-cat-item6 .icon {
  background-image: url(../images/Layo/clipart270809.png);
}  
.shop-cat-item7 .icon {
  background-image: url(../images/Layo/african-clothes.png);  
}  
.shop-cat-item8 .icon {
  background-image: url(../images/clipart363822.png);  
}  
.shop-cat-item9 .icon {
  background-image: url(../images/icons8-men-pajama-50.png);  
}  
.shop-cat-item10 .icon {
  background-image: url(../images/clipart349990.png);    
}  
.shop-cat-item11 .icon {
  background-image: url(../images/clipart340492.png);  
}  .shop-cat-item12 .icon {
  background-image: url(../images/jumpsuit.png);  
}  

.cat-box {
  margin-bottom: 50px !important;
  border-color: rgb(207, 206, 206);
}
.horizontal-scroll-wrapper {
  display: flex;  
  overflow: auto;
  width: 100%;
  height: fit-content;
  padding: 20px;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
/*
::-webkit-scrollbar-thumb {
  background-color: red;
}*/
.hor_product {
  text-align: center;  
  width: 100%;
  height: fit-content;
  scroll-snap-align: align;
  padding: 0px;
  margin: 8px;
  margin-top: -15px;
  border-color: rgb(207, 206, 206);
}
.hor_product .img {
  height: 35vh !important;
}
.hor_product .tag {
  left: 0;
}
.horizontal-scroll-wrapper .price {
  font-size: 1.1em;
}


@media screen and (max-width: 800px){
  .product {
    height: 53vh;
  }
  .product .img {
    height: 40vh;
  }
  .shop-cat-wrapper {
    padding: 0 !important;
    margin: 20px 0 20px 0 !important;
  }
}
@media screen and (max-width: 576px){
  .mmain-container {
    padding: 0px;
  }
  #image_show {
    padding: 30px;
    padding-top: 0;
  }
}

@media screen and (max-width: 480px){
  .product {
    height: 40vh;
  }  
  .product .img {
    height: 30vh;  
  }  
}  
@media screen and (max-width: 350px){
.shop-cat-item {
  height: 100px;
}  
}
@media screen and (max-width: 300px){
  .product {
    padding-left: 5px;
    padding-right: 5px;
  }
  .shop-cat-wrapper {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 250px){
  .shop-cat-item {
    height: 80px;
  }  
  
}  
