.myrow {
    position: relative;
}
.info {
    position: absolute;
    right: 200px;
    width: fit-content;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color:rgb(249,249,249);
    justify-content: flex-start;
}
.myrow a {
    color: var(--themecolor);
}