:root {  
    --oldthemecolor: rgb(228, 72, 72);
    --themecolor: black;
    --headercolor: rgb(39, 149, 138);
  }
  
div.main {
    margin: 2em;
    margin-top: -4em;
    justify-content: flex-start;
    flex-direction: column;
}
.page-content {
    margin-top: 90px;
    padding: 0 70px;
}
.random {
    font-size: 1.5em;
    text-align: center;
    padding: 0px;
    color: var(--themecolor);
    box-shadow: 0 0 max(100vh, 100vw) rgba(0, 0, 0, .12);
  }
  .random1 {
    position: relative;
    margin-top: 60px;
    right: 300px;
  }
  .random2 {
      position: absolute;
      right: 60px;
      top: 530px;
      z-index: 2;
  }
h1 {
    margin-bottom: 40px;
    margin-left: 30px;
}
.wlcMsg {
    text-align: left;  
    color: var(--themecolor);
}
.wlcMsg h1 {
    font-size: 2.8em;
    padding: 0.5em 0px;
}

#slideShow {
    z-index: -2;    
    position: relative;
    transition: all 1s;
    overflow: hidden;
    height: 95vh;
    margin: 1em 0em 1em -2em;
    width: 98.5vw;
}
.wlcPic div{
    height: 100%;
    position: relative;
}
#wrap {
    position: relative;
    top: 0vh;
}
#slide1,
#slide2,
#slide3,
#slide4 {
    position:absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0.8;
    transition-timing-function: ease-in;
}
.visible {
    visibility: visible;
    top: 0px;
    opacity: 1 !important;
    transition: opacity 2s;
}
.slideimg {
    position: absolute;
}
.slideimg img {
    object-fit:cover;
}
.slideimg h1 {
    z-index: 2;
    top: 50%;
    right: 10%;
    font-size: 3.5em;
    position: absolute;
}
#slide1 {
    color: gold;
}
#slide2 {
    color: gold;
}
#slide3 {
    color: gold;
}
#slide4 {
    color: gold;
}
.catwrapper {
    width: 100%;
    box-sizing: content-box;
    margin-top: 50px;
  }
.catwrapper a,
.catwrapper p {
    text-align: right;    
    position:relative;
    color: var(--themecolor);
    font-size: 1.05em;
}
  .category {
    margin-bottom: 2em;
    text-align: center;
}
.category-item img {
    border-radius: 10px;
    height: 300px;
    object-fit:cover;
}
.category-item img:hover {
    filter: brightness(70%);
    transition: filter 0.5s;
}
.caption {
    position: relative;
}
.box {
    color: var(--themecolor);
    position: relative;
    display: block;
    align-self: center;
    margin: 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    background-color: skyblue;
    font-size: 1.3em;
}

.info, .faq {
    display: flex;    
    flex-direction:column;
    align-items: center;
    padding: 1em;
    margin-top: 5em;
    color: var(--themecolor);
    background: linear-gradient(to right, transparent, rgb(232,232,232, 0.1), rgb(220,220,220, 0.5), rgb(212,211,210, 0.3), transparent); 
    min-height: 60vh;
    text-align: center;
    position: relative;
}
.addinfo {
    display: flex;
    padding: 60px;
    margin: 10px;
}
.addinfo img {
    width: 100px;
    height: 200px;    
    flex: 2;
}
.addinfo div {
    padding: 40px;
    flex: 2;
}
.addinfo1 {
    background-color: rgb(245, 245, 245);
}
.info {
    margin-top: 6em;    
    font-family: cursive;
    min-height: 80vh;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 50px;
    opacity: .5;
    transition: all 1s;
 }
 .info:hover {
     opacity: 1;
 }
 .info h2 {
   font-size: 3em;
   font-weight: 100;
   color: var(--themecolor);
 }
 .step {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    height: 10em !important;
    width: 80%;
    background: linear-gradient(to right, transparent, rgba(225, 225, 225, 0.9) 10%, rgba(225, 225, 225, 0.9), transparent);
    height: 20%;
    width: 80%;
    margin-top: 1em;
    opacity: .5;
    transition: all 1s;
}
.step:hover,
.step:focus {
    opacity: 1;
    width: 90%;
    height: 30%;
}
.step img {
  width: 8em;
  height: 8em;
}
.step span {
  font-size: 1.5em;
}
.step1 {
    align-self: flex-start;
} .step2 {
    align-self: flex-end;
} .step3 {
    align-self: flex-start;
} .step4 {
    align-self: flex-end;
} .step5 {
    width: 90%;    
    height: 30%;
    opacity: 1;
    margin-top: 8em;    
    align-self: center;
}

.faq {
    background: transparent;
}
  .mobcategory {
    display: none;
}
.anchorwrap {
    position: relative;
}
#topaid {
    right: 50px;
    bottom: 12vh;
    text-decoration: none;
    transition: all 0.3s;
    z-index: 3;
}
  #topaid:hover {
    text-align: right;
    text-decoration: none;
}
.re {
    min-height: 40vh;
    background: linear-gradient(to right,transparent, rgba(255,255,255,0.5),rgba(255,255,255,0.5),rgba(200,200,199, 0.5), transparent );
    padding: 30 0px;
}
.re-item {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.re-item div:first-child  {
    width: 50%;
}
.re-item img {
    border-radius: 50%;
    margin-top: 10px;
    height: 60px;
    width: 60px;
}
.re-item i {
    border-radius: 50%;
    font-size: 50px;
}
.learn-more {
    color: var(--themecolor);
}
.staticpopup {
    display: block;    
    background-color: #f92626;
    color: white;
    height: 70px;
    width: 11em;
    padding: 10px;
    position: fixed;
    bottom: 10%;
    left: 70%;
    font-size: 1.1em;
    text-align: center;
    font-family:cursive;
    border-radius: 15px;
    z-index: 2;
    transition: width 1s;
    cursor: pointer;
}
.invisible {
    display: none;
}
.pop {
    background-color: #f92626;
    color: white;
    height: 70px;
    position: fixed;
    bottom: 10%;
    left: 70%;
    font-size: 1.1em;
    text-align: center;
    font-family:cursive;
    border-radius: 15px;
    z-index: 2;
    transition: width 1s;
    cursor: pointer;    
    width: 10em;
    padding: 10px;
}

@media only screen and (max-width: 768px)
{   
    .page-content {
        padding: 0 0px;
    }
    .category-item {
        margin-top: 30px;
        text-align: center;    
    }
    .category-item:last-child {
        margin-left: 150px;
    }
    .random1 {
        right: 200px;
    }
    .box {    
    background-color: skyblue;
    font-size: 1.1em;
    margin-left: 50px;
    }
    .slideimg h1 {
        font-size: 3em;
    }
    .caption {
       font-size: 1em;
    }
    .re-item {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.re-item img {
    margin-top: 10px;
    height: 50px;
    width: 50px;
}
.re-item i {
    border-radius: 50%;
    font-size: 40px;
}
}
@media only screen and (max-width: 685px) {
    .step span{
        font-size: 1.3em;
    }    
    .category-item:last-child {
        margin-left: 120px;
    }
}
@media only screen and (max-width: 600px) {
    .addinfo {
        display: flex;
        padding: 10px;
        padding-top: 30px;
        margin: 10px;
    }
    .addinfo img {
        width: 150px;
        height: 150px;    
        flex: 2;
    }
    .addinfo div {
        padding: 40px;
        flex: 2;
    }
.random1 {
    right: 100px !important;
}    
.addinfo2 {
    margin-bottom: 60px !important;
}
.page-content {
    padding: 30px !important;
    margin: 0px ;
  }
  .box {
      margin-left: 0px;
  }
  
.re-item img {
    margin-top: 10px;
    height: 40px;
    width: 40px;
}
.re-item i {
    border-radius: 50%;
    font-size: 30px;
}
.re-header,
.re {
    display: none;
}
.staticpopup,
.pop {
    display: none;
}
@media only screen and (max-width: 560px)
{
.page-content {
    padding: 20px;
}    
    .category-item img{
        height: 250px;
    }
    .box {
        width: 130px;
        margin-left: 30px;
    }

}
@media only screen and (max-width: 480px)
{
div.main {
    margin-right: 0;
    margin-right: 0;
}    
.page-content {
    padding: 0;
    margin: 0;
}    
.random2 {
    top: 480px !important;
}
.addinfo {
    width: 100%;
}
.box {
margin-left: 10px;
}
  .info {
    padding-top: 0px;
  }
  .info h2 {
    font-size: 2.5em;
  }
    .step img {
        width: 5em;
        height: 5em;
      }
      .step {
       height: 8em !important;  
      }
      .step span {
        font-size: 1.1em;
      }
      .step5 {
        margin-top: 50px;
      }
    #slideShow {
        width: 100vw;
    }           
}
@media only screen and (max-width: 380px) 
{
    .random1 {
        margin-right: -30px;
    }
    .random2 {
        top: 113vh !important;
        right: 50px;
    }    
    .catwrapper {
        margin-top: 0px;
    }
    .category-item:last-child {
        margin-left: 70px;
    }
    .category-item img{
        height: 150px !important;
    }
    .addinfo {
        width: fit-content;
        margin-left: -50px;
    }
    .box {
        width: 100px;
    }
    
}
@media only screen and (max-width: 300px) 
{
.info,
  .step {
     opacity: 1 !important;
  }
  .step:hover {
    width:inherit;
    height:inherit;
  }
  .info h2 {
    font-size: 2em;
  }
  .step5 {
    margin-top: 40px;
  }
 
}