<div class="crispy-wrapper white-sections border rounded" id="crispyWrapper">
    {% load crispy_forms_tags %}
    {% crispy form form.helper %}
    <p class="hidden preview text-muted lead">Preview</p> 
    <img src="" class="hidden preview-image mx-auto">
</div>

<script>
    $('.custom-file-input').change(function() {
        image = document.getElementsByClassName('custom-file-input')[0]    
        const reader = new FileReader()    
        reader.readAsDataURL(image.files[0])
        reader.onload = function(e) {
            $('.preview-image').attr('src', event.target.result)
        }
        $('.preview-image').removeClass('hidden')
        $('.preview').removeClass('hidden')
    })
</script>
 