<div class="orders_wrapper d-flex flex-column justify-content-center mh-100">    
    <h4 class="mx-auto">Delivered Orders</h4>
    {% for obj in delivered %}
    <div class="d-flex flex-row justify-content-between order-item 
    border rounded align-items-center" onclick="orderDetails({{obj.id}})">
        <span class="text-muted">{{obj.order_item.label}}</span>
        <img src="{{ obj.order_item.image.url }}">
        <span class="text-muted">X{{ obj.order_quantity }} yard(s)</span>
        <span class="text-muted">{{ obj.order_item.price }} per yard</span>
        <span class="text-muted">{{ obj.order_date|date:"d/m/y" }} </span>
        {% if obj.order_status == 'D' %}
        <span class="text-muted status">Delivered</span>
        {% endif %}
    </div>
    {% endfor %}
</div>
