<div>
    <section class="white-sections section100">
        <div class="section-header">
            <h2>Security</h2>
        </div>     
        <hr>
        <div class="section-body" id="contactSection">
            <p>Password</p>    
            <p class="set">
                <img src="/main/static/main/images/submit-successfully.png" class="verified"/>
                <span>Password has been set</span> 
            </p>
            <p class="change">
                <span>When changing, choose a strong, unique password that is at least 8 characters long.</span> 
                <i class="bi-pencil-square" title="edit" id="changePassword" onclick="changePassword()"></i>
            </p>
        </div>
    </section>    
</div>